# Merge Years 2012-2018

### Import pandas package

In [1]:
 import pandas as pd

## Import all datasets neede for merge

In [2]:
nfl2012_2017 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2012_2017merge.csv')
off2018 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_off_def/NFL2018_offense.csv')
def2018 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_off_def/NFL2018_defense.csv')
wl2018 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_2018_wl.csv')

In [3]:
nfl2012_2017.head()

,Unnamed: 0,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,...,3213,200.8,5405,337.8,2012,5,11,0,No,No
1,1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,...,3878,242.4,5849,365.6,2012,13,3,0,No,No
2,2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,...,3650,228.1,5615,350.9,2012,10,6,0,Yes,Yes
3,3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,...,3473,217.1,5806,362.9,2012,6,10,0,No,No
4,4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,...,3568,223.0,5329,333.1,2012,7,9,0,No,No

In [4]:
off2018.head()

,Unnamed: 0,Team,2018 Off Tot Pts,2018 Off Pts/G,2018 Off RushYds,2018 Off RYds/G,2018 Off PassYds,2018 Off PYds/G,2018 Off TotYds,2018 Off Yds/G
0,21,Arizona CardinalsArizona,295,18.4,1386,86.6,3640,227.5,5026,314.1
1,7,Atlanta FalconsAtlanta,353,22.1,1847,115.4,3990,249.4,5837,364.8
2,26,Baltimore RavensBaltimore,395,24.7,1856,116.0,3030,189.4,4886,305.4
3,28,Buffalo BillsBuffalo,302,18.9,2017,126.1,2825,176.6,4842,302.6
4,18,Carolina PanthersCarolina,363,22.7,2102,131.4,3077,192.3,5179,323.7

In [5]:
def2018.head()

,Unnamed: 0,Team,2018 Def Tot/Pts,2018 Def Pts/G,2018 Def RushYds,2018 Def RYds/G,2018 Def PassYds,2018 Def PYds/G,2018 Def TotYds,2018 Def Yds/G
0,19,Arizona CardinalsArizona,425,26.6,2479,154.9,3262,203.9,5741,358.8
1,27,Atlanta FalconsAtlanta,423,26.4,1999,124.9,4153,259.6,6152,384.5
2,0,Baltimore RavensBaltimore,287,17.9,1327,82.9,3360,210.0,4687,292.9
3,1,Buffalo BillsBuffalo,374,23.4,1839,114.9,2867,179.2,4706,294.1
4,14,Carolina PanthersCarolina,382,23.9,1804,112.8,3847,240.4,5651,353.2

In [6]:
wl2018.head()

   Unnamed: 0               Team  Wins  Losses  Tie Superbowl SB Win  Year
0           0  Arizona Cardinals     3      13    0        No     No  2018
1          12    Atlanta Falcons     7       9    0        No     No  2018
2          21   Baltimore Ravens    10       6    0        No     No  2018
3           7      Buffalo Bills     6      10    0        No     No  2018
4          13  Carolina Panthers     7       9    0        No     No  2018

### Drop unnamed column in all datasets

In [7]:
nfl2012_2017 = nfl2012_2017.iloc[:, 1:]
off2018 = off2018.iloc[:, 1:]
def2018 = def2018.iloc[:, 1:]
wl2018 = wl2018.iloc[:, 1:]

In [8]:
nfl2012_2017.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,357,...,3213,200.8,5405,337.8,2012,5,11,0,No,No
1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,299,...,3878,242.4,5849,365.6,2012,13,3,0,No,No
2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,344,...,3650,228.1,5615,350.9,2012,10,6,0,Yes,Yes
3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,435,...,3473,217.1,5806,362.9,2012,6,10,0,No,No
4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,363,...,3568,223.0,5329,333.1,2012,7,9,0,No,No

In [9]:
off2018.head()

,Team,2018 Off Tot Pts,2018 Off Pts/G,2018 Off RushYds,2018 Off RYds/G,2018 Off PassYds,2018 Off PYds/G,2018 Off TotYds,2018 Off Yds/G
0,Arizona CardinalsArizona,295,18.4,1386,86.6,3640,227.5,5026,314.1
1,Atlanta FalconsAtlanta,353,22.1,1847,115.4,3990,249.4,5837,364.8
2,Baltimore RavensBaltimore,395,24.7,1856,116.0,3030,189.4,4886,305.4
3,Buffalo BillsBuffalo,302,18.9,2017,126.1,2825,176.6,4842,302.6
4,Carolina PanthersCarolina,363,22.7,2102,131.4,3077,192.3,5179,323.7

In [10]:
def2018.head()

,Team,2018 Def Tot/Pts,2018 Def Pts/G,2018 Def RushYds,2018 Def RYds/G,2018 Def PassYds,2018 Def PYds/G,2018 Def TotYds,2018 Def Yds/G
0,Arizona CardinalsArizona,425,26.6,2479,154.9,3262,203.9,5741,358.8
1,Atlanta FalconsAtlanta,423,26.4,1999,124.9,4153,259.6,6152,384.5
2,Baltimore RavensBaltimore,287,17.9,1327,82.9,3360,210.0,4687,292.9
3,Buffalo BillsBuffalo,374,23.4,1839,114.9,2867,179.2,4706,294.1
4,Carolina PanthersCarolina,382,23.9,1804,112.8,3847,240.4,5651,353.2

In [11]:
wl2018.head()

                Team  Wins  Losses  Tie Superbowl SB Win  Year
0  Arizona Cardinals     3      13    0        No     No  2018
1    Atlanta Falcons     7       9    0        No     No  2018
2   Baltimore Ravens    10       6    0        No     No  2018
3      Buffalo Bills     6      10    0        No     No  2018
4  Carolina Panthers     7       9    0        No     No  2018

### Rename columns in off/def data

In [12]:
offense2018 = off2018.rename(columns ={"2018 Off Tot Pts": "Off Tot/Pts", "2018 Off Pts/G": "Off Pts/G",
                                                     "2018 Off RushYds": "Off RushYds", "2018 Off RYds/G": "Off RYds/G",
                                                     "2018 Off PassYds": "Off PassYds", "2018 Off PYds/G": "Off PYds/G",
                                                     "2018 Off TotYds": "Off TotYds", "2018 Off Yds/G": "Off Yds/G"})
defense2018 = def2018.rename(columns ={"2018 Def Tot/Pts": "Def Tot/Pts", "2018 Def Pts/G": "Def Pts/G",
                                                     "2018 Def RushYds": "Def RushYds", "2018 Def RYds/G": "Def RYds/G",
                                                     "2018 Def PassYds": "Def PassYds", "2018 Def PYds/G": "Def PYds/G",
                                                     "2018 Def TotYds": "Def TotYds", "2018 Def Yds/G": "Def Yds/G"})

In [13]:
offense2018.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G
0,Arizona CardinalsArizona,295,18.4,1386,86.6,3640,227.5,5026,314.1
1,Atlanta FalconsAtlanta,353,22.1,1847,115.4,3990,249.4,5837,364.8
2,Baltimore RavensBaltimore,395,24.7,1856,116.0,3030,189.4,4886,305.4
3,Buffalo BillsBuffalo,302,18.9,2017,126.1,2825,176.6,4842,302.6
4,Carolina PanthersCarolina,363,22.7,2102,131.4,3077,192.3,5179,323.7

In [14]:
defense2018.head()

,Team,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona CardinalsArizona,425,26.6,2479,154.9,3262,203.9,5741,358.8
1,Atlanta FalconsAtlanta,423,26.4,1999,124.9,4153,259.6,6152,384.5
2,Baltimore RavensBaltimore,287,17.9,1327,82.9,3360,210.0,4687,292.9
3,Buffalo BillsBuffalo,374,23.4,1839,114.9,2867,179.2,4706,294.1
4,Carolina PanthersCarolina,382,23.9,1804,112.8,3847,240.4,5651,353.2

### Merge Offense and Defense Data

In [15]:
off_def2018 = pd.merge(offense2018, defense2018, on='Team')

In [17]:
off_def2018.head(32)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona CardinalsArizona,295,18.4,1386,86.6,3640,227.5,5026,314.1,425,26.6,2479,154.9,3262,203.9,5741,358.8
1,Atlanta FalconsAtlanta,353,22.1,1847,115.4,3990,249.4,5837,364.8,423,26.4,1999,124.9,4153,259.6,6152,384.5
2,Baltimore RavensBaltimore,395,24.7,1856,116.0,3030,189.4,4886,305.4,287,17.9,1327,82.9,3360,210.0,4687,292.9
3,Buffalo BillsBuffalo,302,18.9,2017,126.1,2825,176.6,4842,302.6,374,23.4,1839,114.9,2867,179.2,4706,294.1
4,Carolina PanthersCarolina,363,22.7,2102,131.4,3077,192.3,5179,323.7,382,23.9,1804,112.8,3847,240.4,5651,353.2
5,Chicago BearsChicago,264,16.5,1788,111.8,2811,175.7,4599,287.4,283,17.7,1280,80.0,3515,219.7,4795,299.7
6,Cincinnati BengalsCincinnati,290,18.1,1366,85.4,3122,195.1,4488,280.5,455,28.4,2204,137.8,4414,275.9,6618,413.6
7,Cleveland BrownsCleveland,234,14.6,1714,107.1,3228,201.8,4942,308.9,392,24.5,2163,135.2,4125,257.8,6288,393.0
8,Dallas CowboysDallas,354,22.1,2170,135.6,3141,196.3,5311,331.9,324,20.2,1513,94.6,3755,234.7,5268,329.2
9,Denver BroncosDenver,289,18.1,1852,115.8,3333,208.3,5185,324.1,349,21.8,1913,119.6,3929,245.6,5842,365.1
10,Detroit LionsDetroit,410,25.6,1221,76.3,4183,261.4,5404,337.8,360,22.5,1761,110.1,3599,224.9,5360,335.0
11,Green Bay PackersGreen Bay,320,20.0,1724,107.8,3167,197.9,4891,305.7,400,25.0,1918,119.9,3752,234.5,5670,354.4
12,Houston TexansHouston,338,21.1,1842,115.1,3278,204.9,5120,320.0,316,19.8,1323,82.7,4167,260.4,5490,343.1
13,Indianapolis ColtsIndianapolis,263,16.4,1661,103.8,2892,180.8,4553,284.6,344,21.5,1626,101.6,3805,237.8,5431,339.4
14,Jacksonville JaguarsJacksonville,417,26.1,2262,141.4,3593,224.6,5855,365.9,316,19.8,1870,116.9,3113,194.6,4983,311.4
15,Kansas City ChiefsKansas City,415,25.9,1903,118.9,4104,256.5,6007,375.4,421,26.3,2114,132.1,4374,273.4,6488,405.5
16,Los Angeles ChargersLA Chargers,355,22.2,1595,99.7,4431,276.9,6026,376.6,329,20.6,1693,105.8,3646,227.9,5339,333.7
17,Los Angeles RamsLA Rams,478,29.9,1953,122.1,3831,239.4,5784,361.5,384,24.0,1957,122.3,3780,236.2,5737,358.6
18,Miami DolphinsMiami,281,17.6,1388,86.8,3535,220.9,4923,307.7,433,27.1,2325,145.3,3932,245.8,6257,391.1
19,Minnesota VikingsMinnesota,382,23.9,1957,122.3,3753,234.6,5710,356.9,341,21.3,1815,113.4,3140,196.2,4955,309.7
20,New England PatriotsNew England,458,28.6,1889,118.1,4418,276.1,6307,394.2,325,20.3,1803,112.7,3943,246.4,5746,359.1
21,New Orleans SaintsNew Orleans,448,28.0,2070,129.4,4189,261.8,6259,391.2,353,22.1,1283,80.2,4302,268.9,5585,349.1
22,New York GiantsNY Giants,246,15.4,1549,96.8,3479,217.4,5028,314.2,412,25.8,1898,118.6,4044,252.8,5942,371.4
23,New York JetsNY Jets,298,18.6,1702,106.4,3182,198.9,4884,305.2,441,27.6,2021,126.3,4065,254.1,6086,380.4
24,Oakland RaidersOakland,301,18.8,1554,97.1,3631,226.9,5185,324.1,467,29.2,2249,140.6,3853,240.8,6102,381.4
25,Philadelphia EaglesPhiladelphia,457,28.6,2115,132.2,3737,233.6,5852,365.8,348,21.8,1551,96.9,4308,269.2,5859,366.2
26,Pittsburgh SteelersPittsburgh,406,25.4,1667,104.2,4380,273.8,6047,377.9,360,22.5,1538,96.1,3697,231.1,5235,327.2
27,San Francisco 49ersSan Francisco,331,20.7,1662,103.9,3925,245.3,5587,349.2,435,27.2,1814,113.4,3732,233.2,5546,346.6
28,Seattle SeahawksSeattle,366,22.9,1629,101.8,3657,228.6,5286,330.4,347,21.7,1811,113.2,3842,240.1,5653,353.3
29,Tampa Bay BuccaneersTampa Bay,335,20.9,1450,90.6,4366,272.9,5816,363.5,464,29.0,1983,123.9,4151,259.4,6134,383.4
30,Tennessee TitansTennessee,334,20.9,1833,114.6,3191,199.4,5024,314.0,303,18.9,1863,116.4,3471,216.9,5334,333.4
31,Washington RedskinsWashington,342,21.4,1448,90.5,3751,234.4,5199,324.9,359,22.4,1860,116.2,3794,237.1,5654,353.4

### Rename Teams to match merge data

In [18]:
teamnames18 = {'Arizona CardinalsArizona': 'Arizona Cardinals', 'Atlanta FalconsAtlanta': 'Atlanta Falcons', 
             'Baltimore RavensBaltimore': 'Baltimore Ravens', 'Buffalo BillsBuffalo': 'Buffalo Bills',
            'Carolina PanthersCarolina': 'Carolina Panthers', 'Chicago BearsChicago': 'Chicago Bears',
            'Cincinnati BengalsCincinnati': 'Cincinnati Bengals', 'Cleveland BrownsCleveland': 'Cleveland Browns',
            'Dallas CowboysDallas': 'Dallas Cowboys', 'Denver BroncosDenver': 'Denver Broncos', 
             'Detroit LionsDetroit': 'Detroit Lions', 'Green Bay PackersGreen Bay': 'Green Bay Packers',
            'Houston TexansHouston': 'Houston Texans', 'Indianapolis ColtsIndianapolis': 'Indianapolis Colts',
            'Jacksonville JaguarsJacksonville': 'Jacksonville Jaguars', 'Kansas City ChiefsKansas City': 'Kansas City Chiefs',
            'Los Angeles ChargersLA Chargers': 'Los Angeles Chargers', 'Los Angeles RamsLA Rams': 'Los Angeles Rams',
            'Miami DolphinsMiami': 'Miami Dolphins', 'Minnesota VikingsMinnesota': 'Minnesota Vikings', 
            'New England PatriotsNew England': 'New England Patriots', 'New Orleans SaintsNew Orleans': 'New Orleans Saints',
            'New York GiantsNY Giants': 'New York Giants', 'New York JetsNY Jets': 'New York Jets', 
            'Oakland RaidersOakland': 'Las Vegas Raiders', 'Philadelphia EaglesPhiladelphia': 'Philadelphia Eagles',
            'Pittsburgh SteelersPittsburgh': 'Pittsburgh Steelers',
            'San Francisco 49ersSan Francisco': 'San Francisco 49ers', 'Seattle SeahawksSeattle': 'Seattle Seahawks', 
            'Tampa Bay BuccaneersTampa Bay': 'Tampa Bay Buccaneers', 'Tennessee TitansTennessee': 'Tennessee Titans',
            'Washington RedskinsWashington': 'Washington Commanders'}
off_def2018['Team'] = off_def2018['Team'].replace(teamnames18)

In [19]:
off_def2018.tail(16)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
16,Los Angeles Chargers,355,22.2,1595,99.7,4431,276.9,6026,376.6,329,20.6,1693,105.8,3646,227.9,5339,333.7
17,Los Angeles Rams,478,29.9,1953,122.1,3831,239.4,5784,361.5,384,24.0,1957,122.3,3780,236.2,5737,358.6
18,Miami Dolphins,281,17.6,1388,86.8,3535,220.9,4923,307.7,433,27.1,2325,145.3,3932,245.8,6257,391.1
19,Minnesota Vikings,382,23.9,1957,122.3,3753,234.6,5710,356.9,341,21.3,1815,113.4,3140,196.2,4955,309.7
20,New England Patriots,458,28.6,1889,118.1,4418,276.1,6307,394.2,325,20.3,1803,112.7,3943,246.4,5746,359.1
21,New Orleans Saints,448,28.0,2070,129.4,4189,261.8,6259,391.2,353,22.1,1283,80.2,4302,268.9,5585,349.1
22,New York Giants,246,15.4,1549,96.8,3479,217.4,5028,314.2,412,25.8,1898,118.6,4044,252.8,5942,371.4
23,New York Jets,298,18.6,1702,106.4,3182,198.9,4884,305.2,441,27.6,2021,126.3,4065,254.1,6086,380.4
24,Las Vegas Raiders,301,18.8,1554,97.1,3631,226.9,5185,324.1,467,29.2,2249,140.6,3853,240.8,6102,381.4
25,Philadelphia Eagles,457,28.6,2115,132.2,3737,233.6,5852,365.8,348,21.8,1551,96.9,4308,269.2,5859,366.2
26,Pittsburgh Steelers,406,25.4,1667,104.2,4380,273.8,6047,377.9,360,22.5,1538,96.1,3697,231.1,5235,327.2
27,San Francisco 49ers,331,20.7,1662,103.9,3925,245.3,5587,349.2,435,27.2,1814,113.4,3732,233.2,5546,346.6
28,Seattle Seahawks,366,22.9,1629,101.8,3657,228.6,5286,330.4,347,21.7,1811,113.2,3842,240.1,5653,353.3
29,Tampa Bay Buccaneers,335,20.9,1450,90.6,4366,272.9,5816,363.5,464,29.0,1983,123.9,4151,259.4,6134,383.4
30,Tennessee Titans,334,20.9,1833,114.6,3191,199.4,5024,314.0,303,18.9,1863,116.4,3471,216.9,5334,333.4
31,Washington Commanders,342,21.4,1448,90.5,3751,234.4,5199,324.9,359,22.4,1860,116.2,3794,237.1,5654,353.4

### Put Dataset in Team Ascending Order

In [20]:
off_def2018 = off_def2018.sort_values("Team")

In [21]:
off_def2018.tail(16)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
24,Las Vegas Raiders,301,18.8,1554,97.1,3631,226.9,5185,324.1,467,29.2,2249,140.6,3853,240.8,6102,381.4
16,Los Angeles Chargers,355,22.2,1595,99.7,4431,276.9,6026,376.6,329,20.6,1693,105.8,3646,227.9,5339,333.7
17,Los Angeles Rams,478,29.9,1953,122.1,3831,239.4,5784,361.5,384,24.0,1957,122.3,3780,236.2,5737,358.6
18,Miami Dolphins,281,17.6,1388,86.8,3535,220.9,4923,307.7,433,27.1,2325,145.3,3932,245.8,6257,391.1
19,Minnesota Vikings,382,23.9,1957,122.3,3753,234.6,5710,356.9,341,21.3,1815,113.4,3140,196.2,4955,309.7
20,New England Patriots,458,28.6,1889,118.1,4418,276.1,6307,394.2,325,20.3,1803,112.7,3943,246.4,5746,359.1
21,New Orleans Saints,448,28.0,2070,129.4,4189,261.8,6259,391.2,353,22.1,1283,80.2,4302,268.9,5585,349.1
22,New York Giants,246,15.4,1549,96.8,3479,217.4,5028,314.2,412,25.8,1898,118.6,4044,252.8,5942,371.4
23,New York Jets,298,18.6,1702,106.4,3182,198.9,4884,305.2,441,27.6,2021,126.3,4065,254.1,6086,380.4
25,Philadelphia Eagles,457,28.6,2115,132.2,3737,233.6,5852,365.8,348,21.8,1551,96.9,4308,269.2,5859,366.2
26,Pittsburgh Steelers,406,25.4,1667,104.2,4380,273.8,6047,377.9,360,22.5,1538,96.1,3697,231.1,5235,327.2
27,San Francisco 49ers,331,20.7,1662,103.9,3925,245.3,5587,349.2,435,27.2,1814,113.4,3732,233.2,5546,346.6
28,Seattle Seahawks,366,22.9,1629,101.8,3657,228.6,5286,330.4,347,21.7,1811,113.2,3842,240.1,5653,353.3
29,Tampa Bay Buccaneers,335,20.9,1450,90.6,4366,272.9,5816,363.5,464,29.0,1983,123.9,4151,259.4,6134,383.4
30,Tennessee Titans,334,20.9,1833,114.6,3191,199.4,5024,314.0,303,18.9,1863,116.4,3471,216.9,5334,333.4
31,Washington Commanders,342,21.4,1448,90.5,3751,234.4,5199,324.9,359,22.4,1860,116.2,3794,237.1,5654,353.4

### Merge with Win/Loss Data

In [22]:
nfl2018 = pd.merge(off_def2018, wl2018, on="Team")

In [23]:
nfl2018.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Wins,Losses,Tie,Superbowl,SB Win,Year
0,Arizona Cardinals,295,18.4,1386,86.6,3640,227.5,5026,314.1,425,...,3262,203.9,5741,358.8,3,13,0,No,No,2018
1,Atlanta Falcons,353,22.1,1847,115.4,3990,249.4,5837,364.8,423,...,4153,259.6,6152,384.5,7,9,0,No,No,2018
2,Baltimore Ravens,395,24.7,1856,116.0,3030,189.4,4886,305.4,287,...,3360,210.0,4687,292.9,10,6,0,No,No,2018
3,Buffalo Bills,302,18.9,2017,126.1,2825,176.6,4842,302.6,374,...,2867,179.2,4706,294.1,6,10,0,No,No,2018
4,Carolina Panthers,363,22.7,2102,131.4,3077,192.3,5179,323.7,382,...,3847,240.4,5651,353.2,7,9,0,No,No,2018

### Save Dataset to Mac for future use

In [26]:
nfl2018.to_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2018complete.csv')

### Merge 2012-2018 Data

In [27]:
nfl2012_2018 = pd.concat([nfl2012_2017, nfl2018], axis=0, join='outer', ignore_index='True')

In [28]:
nfl2012_2018.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,357,...,3213,200.8,5405,337.8,2012,5,11,0,No,No
1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,299,...,3878,242.4,5849,365.6,2012,13,3,0,No,No
2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,344,...,3650,228.1,5615,350.9,2012,10,6,0,Yes,Yes
3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,435,...,3473,217.1,5806,362.9,2012,6,10,0,No,No
4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,363,...,3568,223.0,5329,333.1,2012,7,9,0,No,No

In [29]:
nfl2012_2018.tail()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
218,San Francisco 49ers,331,20.7,1662,103.9,3925,245.3,5587,349.2,435,...,3732,233.2,5546,346.6,2018,4,12,0,No,No
219,Seattle Seahawks,366,22.9,1629,101.8,3657,228.6,5286,330.4,347,...,3842,240.1,5653,353.3,2018,10,6,0,No,No
220,Tampa Bay Buccaneers,335,20.9,1450,90.6,4366,272.9,5816,363.5,464,...,4151,259.4,6134,383.4,2018,5,11,0,No,No
221,Tennessee Titans,334,20.9,1833,114.6,3191,199.4,5024,314.0,303,...,3471,216.9,5334,333.4,2018,9,7,0,No,No
222,Washington Commanders,342,21.4,1448,90.5,3751,234.4,5199,324.9,359,...,3794,237.1,5654,353.4,2018,7,9,0,No,No

### Save Dataset to Mac for future use

In [30]:
nfl2012_2018.to_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2012_2018merge.csv')