# Merge Years 2012-2022

### Import pandas package

In [1]:
import pandas as pd

## Import all datasets for final merge

In [5]:
nfl2012_2021 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2012_2021merge.csv')
off2022 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_off_def/NFL2022_offense.csv')
def2022 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_off_def/NFL2022_defense.csv')
wl2022 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_2022_wl.csv')

In [6]:
nfl2012_2021.head()

,Unnamed: 0,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,...,3213,200.8,5405,337.8,2012,5,11,0,No,No
1,1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,...,3878,242.4,5849,365.6,2012,13,3,0,No,No
2,2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,...,3650,228.1,5615,350.9,2012,10,6,0,Yes,Yes
3,3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,...,3473,217.1,5806,362.9,2012,6,10,0,No,No
4,4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,...,3568,223.0,5329,333.1,2012,7,9,0,No,No

In [7]:
off2022.head()

,Unnamed: 0,Team,Tot/Pts,2022 Off Pts/G,2022 Off RushYds,2022 Off RYds/G,2022 Off PassYds,2022 Off PYds/G,2022 Off TotYds,2022 Off Yds/G
0,21,Arizona CardinalsArizona,340,20.0,1873,110.2,3626,213.3,5499,323.5
1,23,Atlanta FalconsAtlanta,365,21.5,2718,159.9,2699,158.8,5417,318.6
2,15,Baltimore RavensBaltimore,350,20.6,2720,160.0,3040,178.8,5760,338.8
3,1,Buffalo BillsBuffalo,455,28.4,2232,139.5,4129,258.1,6361,397.6
4,28,Carolina PanthersCarolina,347,20.4,2210,130.0,2996,176.2,5206,306.2

In [8]:
def2022.head()

,Unnamed: 0,Team,2022 Def Tot/Pts,2022 Def Pts/G,2022 Def RushYds,2022 Def RYds/G,2022 Def PassYds,2022 Def PYds/G,2022 Def TotYds,2022 Def Yds/G
0,20,Arizona CardinalsArizona,449,26.4,2016,118.6,3915,230.3,5931,348.9
1,26,Atlanta FalconsAtlanta,386,22.7,2214,130.2,3942,231.9,6156,362.1
2,8,Baltimore RavensBaltimore,315,18.5,1566,92.1,3947,232.2,5513,324.3
3,5,Buffalo BillsBuffalo,286,17.9,1673,104.6,3433,214.6,5106,319.1
4,21,Carolina PanthersCarolina,374,22.0,2085,122.6,3868,227.5,5953,350.2

In [9]:
wl2022.head()

   Unnamed: 0               Team  Wins  Losses Superbowl SB Wins  Year
0           0  Arizona Cardinals     4      13        No      No  2022
1           1    Atlanta Falcons     7      10        No      No  2022
2           2   Baltimore Ravens    10       7        No      No  2022
3           3      Buffalo Bills    13       3        No      No  2022
4           4  Carolina Panthers     7      10        No      No  2022

### Drop unnamed column in all datasets

In [10]:
nfl2012_2021 = nfl2012_2021.iloc[:, 1:]
off2022 = off2022.iloc[:, 1:]
def2022 = def2022.iloc[:, 1:]
wl2022 = wl2022.iloc[:, 1:]

In [11]:
nfl2012_2021.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,357,...,3213,200.8,5405,337.8,2012,5,11,0,No,No
1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,299,...,3878,242.4,5849,365.6,2012,13,3,0,No,No
2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,344,...,3650,228.1,5615,350.9,2012,10,6,0,Yes,Yes
3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,435,...,3473,217.1,5806,362.9,2012,6,10,0,No,No
4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,363,...,3568,223.0,5329,333.1,2012,7,9,0,No,No

In [12]:
off2022.head()

,Team,Tot/Pts,2022 Off Pts/G,2022 Off RushYds,2022 Off RYds/G,2022 Off PassYds,2022 Off PYds/G,2022 Off TotYds,2022 Off Yds/G
0,Arizona CardinalsArizona,340,20.0,1873,110.2,3626,213.3,5499,323.5
1,Atlanta FalconsAtlanta,365,21.5,2718,159.9,2699,158.8,5417,318.6
2,Baltimore RavensBaltimore,350,20.6,2720,160.0,3040,178.8,5760,338.8
3,Buffalo BillsBuffalo,455,28.4,2232,139.5,4129,258.1,6361,397.6
4,Carolina PanthersCarolina,347,20.4,2210,130.0,2996,176.2,5206,306.2

In [13]:
def2022.head()

,Team,2022 Def Tot/Pts,2022 Def Pts/G,2022 Def RushYds,2022 Def RYds/G,2022 Def PassYds,2022 Def PYds/G,2022 Def TotYds,2022 Def Yds/G
0,Arizona CardinalsArizona,449,26.4,2016,118.6,3915,230.3,5931,348.9
1,Atlanta FalconsAtlanta,386,22.7,2214,130.2,3942,231.9,6156,362.1
2,Baltimore RavensBaltimore,315,18.5,1566,92.1,3947,232.2,5513,324.3
3,Buffalo BillsBuffalo,286,17.9,1673,104.6,3433,214.6,5106,319.1
4,Carolina PanthersCarolina,374,22.0,2085,122.6,3868,227.5,5953,350.2

In [14]:
wl2022.head()

                Team  Wins  Losses Superbowl SB Wins  Year
0  Arizona Cardinals     4      13        No      No  2022
1    Atlanta Falcons     7      10        No      No  2022
2   Baltimore Ravens    10       7        No      No  2022
3      Buffalo Bills    13       3        No      No  2022
4  Carolina Panthers     7      10        No      No  2022

### Rename columns in off/def/sb dataset

In [32]:
offense2022 = off2022.rename(columns ={"Tot/Pts": "Off Tot/Pts", "2022 Off Pts/G": "Off Pts/G",
                                                     "2022 Off RushYds": "Off RushYds", "2022 Off RYds/G": "Off RYds/G",
                                                     "2022 Off PassYds": "Off PassYds", "2022 Off PYds/G": "Off PYds/G",
                                                     "2022 Off TotYds": "Off TotYds", "2022 Off Yds/G": "Off Yds/G"})
defense2022 = def2022.rename(columns ={"2022 Def Tot/Pts": "Def Tot/Pts", "2022 Def Pts/G": "Def Pts/G",
                                                     "2022 Def RushYds": "Def RushYds", "2022 Def RYds/G": "Def RYds/G",
                                                     "2022 Def PassYds": "Def PassYds", "2022 Def PYds/G": "Def PYds/G",
                                                     "2022 Def TotYds": "Def TotYds", "2022 Def Yds/G": "Def Yds/G"})
winloss2022 = wl2022.rename(columns ={"SB Wins": "SB Win"})

In [33]:
offense2022.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G
0,Arizona CardinalsArizona,340,20.0,1873,110.2,3626,213.3,5499,323.5
1,Atlanta FalconsAtlanta,365,21.5,2718,159.9,2699,158.8,5417,318.6
2,Baltimore RavensBaltimore,350,20.6,2720,160.0,3040,178.8,5760,338.8
3,Buffalo BillsBuffalo,455,28.4,2232,139.5,4129,258.1,6361,397.6
4,Carolina PanthersCarolina,347,20.4,2210,130.0,2996,176.2,5206,306.2

In [34]:
defense2022.head()

,Team,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona CardinalsArizona,449,26.4,2016,118.6,3915,230.3,5931,348.9
1,Atlanta FalconsAtlanta,386,22.7,2214,130.2,3942,231.9,6156,362.1
2,Baltimore RavensBaltimore,315,18.5,1566,92.1,3947,232.2,5513,324.3
3,Buffalo BillsBuffalo,286,17.9,1673,104.6,3433,214.6,5106,319.1
4,Carolina PanthersCarolina,374,22.0,2085,122.6,3868,227.5,5953,350.2

### Merge Offense and Defense Data

In [35]:
off_def2022 = pd.merge(offense2022, defense2022, on='Team')

In [36]:
off_def2022.head(32)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona CardinalsArizona,340,20.0,1873,110.2,3626,213.3,5499,323.5,449,26.4,2016,118.6,3915,230.3,5931,348.9
1,Atlanta FalconsAtlanta,365,21.5,2718,159.9,2699,158.8,5417,318.6,386,22.7,2214,130.2,3942,231.9,6156,362.1
2,Baltimore RavensBaltimore,350,20.6,2720,160.0,3040,178.8,5760,338.8,315,18.5,1566,92.1,3947,232.2,5513,324.3
3,Buffalo BillsBuffalo,455,28.4,2232,139.5,4129,258.1,6361,397.6,286,17.9,1673,104.6,3433,214.6,5106,319.1
4,Carolina PanthersCarolina,347,20.4,2210,130.0,2996,176.2,5206,306.2,374,22.0,2085,122.6,3868,227.5,5953,350.2
5,Chicago BearsChicago,326,19.2,3014,177.3,2219,130.5,5233,307.8,463,27.2,2674,157.3,3716,218.6,6390,375.9
6,Cincinnati BengalsCincinnati,418,26.1,1528,95.5,4240,265.0,5768,360.5,322,20.1,1706,106.6,3665,229.1,5371,335.7
7,Cleveland BrownsCleveland,361,21.2,2490,146.5,3444,202.6,5934,349.1,381,22.4,2295,135.0,3336,196.2,5631,331.2
8,Dallas CowboysDallas,467,27.5,2298,135.2,3736,219.8,6034,354.9,342,20.1,2198,129.3,3415,200.9,5613,330.2
9,Denver BroncosDenver,287,16.9,1935,113.8,3592,211.3,5527,325.1,359,21.1,1866,109.8,3574,210.2,5440,320.0
10,Detroit LionsDetroit,453,26.6,2179,128.2,4281,251.8,6460,380.0,427,25.1,2491,146.5,4179,245.8,6670,392.4
11,Green Bay PackersGreen Bay,370,21.8,2113,124.3,3632,213.6,5745,337.9,371,21.8,2372,139.5,3349,197.0,5721,336.5
12,Houston TexansHouston,289,17.0,1476,86.8,3344,196.7,4820,283.5,420,24.7,2894,170.2,3558,209.3,6452,379.5
13,Indianapolis ColtsIndianapolis,289,17.0,1866,109.8,3432,201.9,5298,311.6,427,25.1,2109,124.1,3569,209.9,5678,334.0
14,Jacksonville JaguarsJacksonville,404,23.8,2116,124.5,3959,232.9,6075,357.4,350,20.6,1951,114.8,4055,238.5,6006,353.3
15,Kansas City ChiefsKansas City,496,29.2,1970,115.9,5062,297.8,7032,413.6,369,21.7,1823,107.2,3756,220.9,5579,328.2
16,Las Vegas RaidersLas Vegas,395,23.2,2059,121.1,3934,231.4,5993,352.5,418,24.6,2087,122.8,4129,242.9,6216,365.6
17,Los Angeles ChargersLA Chargers,391,23.0,1524,89.6,4584,269.6,6108,359.3,384,22.6,2478,145.8,3406,200.4,5884,346.1
18,Los Angeles RamsLA Rams,307,18.1,1661,97.7,3108,182.8,4769,280.5,384,22.6,1956,115.1,3842,226.0,5798,341.1
19,Miami DolphinsMiami,397,23.4,1686,99.2,4511,265.4,6197,364.5,399,23.5,1751,103.0,3992,234.8,5743,337.8
20,Minnesota VikingsMinnesota,424,24.9,1661,97.7,4484,263.8,6145,361.5,427,25.1,2093,123.1,4515,265.6,6608,388.7
21,New England PatriotsNew England,364,21.4,1812,106.6,3536,208.0,5348,314.6,347,20.4,1793,105.5,3681,216.5,5474,322.0
22,New Orleans SaintsNew Orleans,330,19.4,1982,116.6,3692,217.2,5674,333.8,345,20.3,2218,130.5,3134,184.4,5352,314.8
23,New York GiantsNY Giants,365,21.5,2519,148.2,3157,185.7,5676,333.9,371,21.8,2451,144.2,3638,214.0,6089,358.2
24,New York JetsNY Jets,296,17.4,1686,99.2,3723,219.0,5409,318.2,316,18.6,2068,121.6,3220,189.4,5288,311.1
25,Philadelphia EaglesPhiladelphia,477,28.1,2509,147.6,4105,241.5,6614,389.1,344,20.2,2068,121.6,3057,179.8,5125,301.5
26,Pittsburgh SteelersPittsburgh,308,18.1,2073,121.9,3411,200.6,5484,322.6,346,20.4,1838,108.1,3779,222.3,5617,330.4
27,San Francisco 49ersSan Francisco,450,26.5,2360,138.8,3856,226.8,6216,365.6,277,16.3,1321,77.7,3789,222.9,5110,300.6
28,Seattle SeahawksSeattle,407,23.9,2042,120.1,3934,231.4,5976,351.5,401,23.6,2554,150.2,3595,211.5,6149,361.7
29,Tampa Bay BuccaneersTampa Bay,313,18.4,1308,76.9,4586,269.8,5894,346.7,358,21.1,2052,120.7,3461,203.6,5513,324.3
30,Tennessee TitansTennessee,298,17.5,2131,125.4,2914,171.4,5045,296.8,359,21.1,1307,76.9,4671,274.8,5978,351.6
31,Washington CommandersWashington,321,18.9,2143,126.1,3472,204.2,5615,330.3,343,20.2,1926,113.3,3252,191.3,5178,304.6

### Rename Teams to match merge data

In [37]:
teamnames22 = {'Arizona CardinalsArizona': 'Arizona Cardinals', 'Atlanta FalconsAtlanta': 'Atlanta Falcons', 
             'Baltimore RavensBaltimore': 'Baltimore Ravens', 'Buffalo BillsBuffalo': 'Buffalo Bills',
            'Carolina PanthersCarolina': 'Carolina Panthers', 'Chicago BearsChicago': 'Chicago Bears',
            'Cincinnati BengalsCincinnati': 'Cincinnati Bengals', 'Cleveland BrownsCleveland': 'Cleveland Browns',
            'Dallas CowboysDallas': 'Dallas Cowboys', 'Denver BroncosDenver': 'Denver Broncos', 
             'Detroit LionsDetroit': 'Detroit Lions', 'Green Bay PackersGreen Bay': 'Green Bay Packers',
            'Houston TexansHouston': 'Houston Texans', 'Indianapolis ColtsIndianapolis': 'Indianapolis Colts',
            'Jacksonville JaguarsJacksonville': 'Jacksonville Jaguars', 'Kansas City ChiefsKansas City': 'Kansas City Chiefs',
            'Los Angeles ChargersLA Chargers': 'Los Angeles Chargers', 'Los Angeles RamsLA Rams': 'Los Angeles Rams',
            'Miami DolphinsMiami': 'Miami Dolphins', 'Minnesota VikingsMinnesota': 'Minnesota Vikings', 
            'New England PatriotsNew England': 'New England Patriots', 'New Orleans SaintsNew Orleans': 'New Orleans Saints',
            'New York GiantsNY Giants': 'New York Giants', 'New York JetsNY Jets': 'New York Jets', 
            'Las Vegas RaidersLas Vegas': 'Las Vegas Raiders', 'Philadelphia EaglesPhiladelphia': 'Philadelphia Eagles',
            'Pittsburgh SteelersPittsburgh': 'Pittsburgh Steelers',
            'San Francisco 49ersSan Francisco': 'San Francisco 49ers', 'Seattle SeahawksSeattle': 'Seattle Seahawks', 
            'Tampa Bay BuccaneersTampa Bay': 'Tampa Bay Buccaneers', 'Tennessee TitansTennessee': 'Tennessee Titans',
            'Washington CommandersWashington': 'Washington Commanders'}
off_def2022['Team'] = off_def2022['Team'].replace(teamnames22)

In [38]:
off_def2022.tail(16)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
16,Las Vegas Raiders,395,23.2,2059,121.1,3934,231.4,5993,352.5,418,24.6,2087,122.8,4129,242.9,6216,365.6
17,Los Angeles Chargers,391,23.0,1524,89.6,4584,269.6,6108,359.3,384,22.6,2478,145.8,3406,200.4,5884,346.1
18,Los Angeles Rams,307,18.1,1661,97.7,3108,182.8,4769,280.5,384,22.6,1956,115.1,3842,226.0,5798,341.1
19,Miami Dolphins,397,23.4,1686,99.2,4511,265.4,6197,364.5,399,23.5,1751,103.0,3992,234.8,5743,337.8
20,Minnesota Vikings,424,24.9,1661,97.7,4484,263.8,6145,361.5,427,25.1,2093,123.1,4515,265.6,6608,388.7
21,New England Patriots,364,21.4,1812,106.6,3536,208.0,5348,314.6,347,20.4,1793,105.5,3681,216.5,5474,322.0
22,New Orleans Saints,330,19.4,1982,116.6,3692,217.2,5674,333.8,345,20.3,2218,130.5,3134,184.4,5352,314.8
23,New York Giants,365,21.5,2519,148.2,3157,185.7,5676,333.9,371,21.8,2451,144.2,3638,214.0,6089,358.2
24,New York Jets,296,17.4,1686,99.2,3723,219.0,5409,318.2,316,18.6,2068,121.6,3220,189.4,5288,311.1
25,Philadelphia Eagles,477,28.1,2509,147.6,4105,241.5,6614,389.1,344,20.2,2068,121.6,3057,179.8,5125,301.5
26,Pittsburgh Steelers,308,18.1,2073,121.9,3411,200.6,5484,322.6,346,20.4,1838,108.1,3779,222.3,5617,330.4
27,San Francisco 49ers,450,26.5,2360,138.8,3856,226.8,6216,365.6,277,16.3,1321,77.7,3789,222.9,5110,300.6
28,Seattle Seahawks,407,23.9,2042,120.1,3934,231.4,5976,351.5,401,23.6,2554,150.2,3595,211.5,6149,361.7
29,Tampa Bay Buccaneers,313,18.4,1308,76.9,4586,269.8,5894,346.7,358,21.1,2052,120.7,3461,203.6,5513,324.3
30,Tennessee Titans,298,17.5,2131,125.4,2914,171.4,5045,296.8,359,21.1,1307,76.9,4671,274.8,5978,351.6
31,Washington Commanders,321,18.9,2143,126.1,3472,204.2,5615,330.3,343,20.2,1926,113.3,3252,191.3,5178,304.6

### Put Dataset in Team Ascending Order

In [39]:
off_def2022 = off_def2022.sort_values("Team")

In [40]:
off_def2022.tail(16)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
16,Las Vegas Raiders,395,23.2,2059,121.1,3934,231.4,5993,352.5,418,24.6,2087,122.8,4129,242.9,6216,365.6
17,Los Angeles Chargers,391,23.0,1524,89.6,4584,269.6,6108,359.3,384,22.6,2478,145.8,3406,200.4,5884,346.1
18,Los Angeles Rams,307,18.1,1661,97.7,3108,182.8,4769,280.5,384,22.6,1956,115.1,3842,226.0,5798,341.1
19,Miami Dolphins,397,23.4,1686,99.2,4511,265.4,6197,364.5,399,23.5,1751,103.0,3992,234.8,5743,337.8
20,Minnesota Vikings,424,24.9,1661,97.7,4484,263.8,6145,361.5,427,25.1,2093,123.1,4515,265.6,6608,388.7
21,New England Patriots,364,21.4,1812,106.6,3536,208.0,5348,314.6,347,20.4,1793,105.5,3681,216.5,5474,322.0
22,New Orleans Saints,330,19.4,1982,116.6,3692,217.2,5674,333.8,345,20.3,2218,130.5,3134,184.4,5352,314.8
23,New York Giants,365,21.5,2519,148.2,3157,185.7,5676,333.9,371,21.8,2451,144.2,3638,214.0,6089,358.2
24,New York Jets,296,17.4,1686,99.2,3723,219.0,5409,318.2,316,18.6,2068,121.6,3220,189.4,5288,311.1
25,Philadelphia Eagles,477,28.1,2509,147.6,4105,241.5,6614,389.1,344,20.2,2068,121.6,3057,179.8,5125,301.5
26,Pittsburgh Steelers,308,18.1,2073,121.9,3411,200.6,5484,322.6,346,20.4,1838,108.1,3779,222.3,5617,330.4
27,San Francisco 49ers,450,26.5,2360,138.8,3856,226.8,6216,365.6,277,16.3,1321,77.7,3789,222.9,5110,300.6
28,Seattle Seahawks,407,23.9,2042,120.1,3934,231.4,5976,351.5,401,23.6,2554,150.2,3595,211.5,6149,361.7
29,Tampa Bay Buccaneers,313,18.4,1308,76.9,4586,269.8,5894,346.7,358,21.1,2052,120.7,3461,203.6,5513,324.3
30,Tennessee Titans,298,17.5,2131,125.4,2914,171.4,5045,296.8,359,21.1,1307,76.9,4671,274.8,5978,351.6
31,Washington Commanders,321,18.9,2143,126.1,3472,204.2,5615,330.3,343,20.2,1926,113.3,3252,191.3,5178,304.6

### Merge with Win/Loss Data

In [41]:
nfl2022 = pd.merge(off_def2022, winloss2022, on="Team")

In [42]:
nfl2022.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Wins,Losses,Superbowl,SB Win,Year
0,Arizona Cardinals,340,20.0,1873,110.2,3626,213.3,5499,323.5,449,...,118.6,3915,230.3,5931,348.9,4,13,No,No,2022
1,Atlanta Falcons,365,21.5,2718,159.9,2699,158.8,5417,318.6,386,...,130.2,3942,231.9,6156,362.1,7,10,No,No,2022
2,Baltimore Ravens,350,20.6,2720,160.0,3040,178.8,5760,338.8,315,...,92.1,3947,232.2,5513,324.3,10,7,No,No,2022
3,Buffalo Bills,455,28.4,2232,139.5,4129,258.1,6361,397.6,286,...,104.6,3433,214.6,5106,319.1,13,3,No,No,2022
4,Carolina Panthers,347,20.4,2210,130.0,2996,176.2,5206,306.2,374,...,122.6,3868,227.5,5953,350.2,7,10,No,No,2022

### Save Dataset to Mac for future use

In [43]:
nfl2022.to_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2022complete.csv')

### Merge 2012-2022 Data

In [44]:
nfl2012_2022 = pd.concat([nfl2012_2021, nfl2022], axis=0, join='outer', ignore_index='True')

In [45]:
nfl2012_2022.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,357,...,3213,200.8,5405,337.8,2012,5,11,0.0,No,No
1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,299,...,3878,242.4,5849,365.6,2012,13,3,0.0,No,No
2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,344,...,3650,228.1,5615,350.9,2012,10,6,0.0,Yes,Yes
3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,435,...,3473,217.1,5806,362.9,2012,6,10,0.0,No,No
4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,363,...,3568,223.0,5329,333.1,2012,7,9,0.0,No,No

In [46]:
nfl2012_2022.tail()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
346,San Francisco 49ers,450,26.5,2360,138.8,3856,226.8,6216,365.6,277,...,3789,222.9,5110,300.6,2022,13,4,NaN,No,No
347,Seattle Seahawks,407,23.9,2042,120.1,3934,231.4,5976,351.5,401,...,3595,211.5,6149,361.7,2022,9,8,NaN,No,No
348,Tampa Bay Buccaneers,313,18.4,1308,76.9,4586,269.8,5894,346.7,358,...,3461,203.6,5513,324.3,2022,8,9,NaN,No,No
349,Tennessee Titans,298,17.5,2131,125.4,2914,171.4,5045,296.8,359,...,4671,274.8,5978,351.6,2022,7,10,NaN,No,No
350,Washington Commanders,321,18.9,2143,126.1,3472,204.2,5615,330.3,343,...,3252,191.3,5178,304.6,2022,8,8,NaN,No,No

### Save Dataset to Mac for analysis

In [47]:
nfl2012_2022.to_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2012_2022merge.csv')