# Merging Years 2012-2017

### Import pandas package

In [1]:
import pandas as pd

## Import all datasets needed for merge

In [3]:
nfl2012_2016 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2012_2016merge.csv')
off2017 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_off_def/NFL2017_offense.csv')
def2017 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_off_def/NFL2017_defense.csv')
wl2017 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_2017_wl.csv')

In [4]:
nfl2012_2016.head()

,Unnamed: 0,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,...,3213,200.8,5405,337.8,2012,5,11,0,No,No
1,1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,...,3878,242.4,5849,365.6,2012,13,3,0,No,No
2,2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,...,3650,228.1,5615,350.9,2012,10,6,0,Yes,Yes
3,3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,...,3473,217.1,5806,362.9,2012,6,10,0,No,No
4,4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,...,3568,223.0,5329,333.1,2012,7,9,0,No,No

In [5]:
off2017.head()

,Unnamed: 0,Team,2017 Off Tot Pts,2017 Off Pts/G,2017 Off RushYds,2017 Off RYds/G,2017 Off PassYds,2017 Off PYds/G,2017 Off TotYds,2017 Off Yds/G
0,21,Arizona CardinalsArizona,295,18.4,1386,86.6,3640,227.5,5026,314.1
1,7,Atlanta FalconsAtlanta,353,22.1,1847,115.4,3990,249.4,5837,364.8
2,26,Baltimore RavensBaltimore,395,24.7,1856,116.0,3030,189.4,4886,305.4
3,28,Buffalo BillsBuffalo,302,18.9,2017,126.1,2825,176.6,4842,302.6
4,18,Carolina PanthersCarolina,363,22.7,2102,131.4,3077,192.3,5179,323.7

In [6]:
def2017.head()

,Unnamed: 0,Team,2017 Def Tot/Pts,2017 Def Pts/G,2017 Def RushYds,2017 Def RYds/G,2017 Def PassYds,2017 Def PYds/G,2017 Def TotYds,2017 Def Yds/G
0,5,Arizona CardinalsArizona,361,22.6,1434,89.6,3541,221.3,4975,310.9
1,8,Atlanta FalconsAtlanta,315,19.7,1665,104.1,3429,214.3,5094,318.4
2,11,Baltimore RavensBaltimore,303,18.9,1780,111.2,3421,213.8,5201,325.1
3,25,Buffalo BillsBuffalo,359,22.4,1994,124.6,3688,230.5,5682,355.1
4,6,Carolina PanthersCarolina,327,20.4,1409,88.1,3665,229.1,5074,317.1

In [7]:
wl2017.head()

   Unnamed: 0               Team  Wins  Losses  Tie Superbowl SB Win  Year
0          14  Arizona Cardinals     8       8    0        No     No  2017
1          22    Atlanta Falcons    10       6    0        No     No  2017
2          15   Baltimore Ravens     9       7    0        No     No  2017
3          16      Buffalo Bills     9       7    0        No     No  2017
4          25  Carolina Panthers    11       5    0        No     No  2017

### Drop unnamed column from all datasets

In [8]:
nfl2012_2016 = nfl2012_2016.iloc[:, 1:]
off2017 = off2017.iloc[:, 1:]
def2017 = def2017.iloc[:, 1:]
wl2017 = wl2017.iloc[:, 1:]

In [9]:
nfl2012_2016.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,357,...,3213,200.8,5405,337.8,2012,5,11,0,No,No
1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,299,...,3878,242.4,5849,365.6,2012,13,3,0,No,No
2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,344,...,3650,228.1,5615,350.9,2012,10,6,0,Yes,Yes
3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,435,...,3473,217.1,5806,362.9,2012,6,10,0,No,No
4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,363,...,3568,223.0,5329,333.1,2012,7,9,0,No,No

In [10]:
off2017.head()

,Team,2017 Off Tot Pts,2017 Off Pts/G,2017 Off RushYds,2017 Off RYds/G,2017 Off PassYds,2017 Off PYds/G,2017 Off TotYds,2017 Off Yds/G
0,Arizona CardinalsArizona,295,18.4,1386,86.6,3640,227.5,5026,314.1
1,Atlanta FalconsAtlanta,353,22.1,1847,115.4,3990,249.4,5837,364.8
2,Baltimore RavensBaltimore,395,24.7,1856,116.0,3030,189.4,4886,305.4
3,Buffalo BillsBuffalo,302,18.9,2017,126.1,2825,176.6,4842,302.6
4,Carolina PanthersCarolina,363,22.7,2102,131.4,3077,192.3,5179,323.7

In [11]:
def2017.head()

,Team,2017 Def Tot/Pts,2017 Def Pts/G,2017 Def RushYds,2017 Def RYds/G,2017 Def PassYds,2017 Def PYds/G,2017 Def TotYds,2017 Def Yds/G
0,Arizona CardinalsArizona,361,22.6,1434,89.6,3541,221.3,4975,310.9
1,Atlanta FalconsAtlanta,315,19.7,1665,104.1,3429,214.3,5094,318.4
2,Baltimore RavensBaltimore,303,18.9,1780,111.2,3421,213.8,5201,325.1
3,Buffalo BillsBuffalo,359,22.4,1994,124.6,3688,230.5,5682,355.1
4,Carolina PanthersCarolina,327,20.4,1409,88.1,3665,229.1,5074,317.1

In [12]:
wl2017.head()

                Team  Wins  Losses  Tie Superbowl SB Win  Year
0  Arizona Cardinals     8       8    0        No     No  2017
1    Atlanta Falcons    10       6    0        No     No  2017
2   Baltimore Ravens     9       7    0        No     No  2017
3      Buffalo Bills     9       7    0        No     No  2017
4  Carolina Panthers    11       5    0        No     No  2017

### Rename columns in off/def data

In [30]:
offense2017 = off2017.rename(columns ={"2017 Off Tot Pts": "Off Tot/Pts", "2017 Off Pts/G": "Off Pts/G",
                                                     "2017 Off RushYds": "Off RushYds", "2017 Off RYds/G": "Off RYds/G",
                                                     "2017 Off PassYds": "Off PassYds", "2017 Off PYds/G": "Off PYds/G",
                                                     "2017 Off TotYds": "Off TotYds", "2017 Off Yds/G": "Off Yds/G"})
defense2017 = def2017.rename(columns ={"2017 Def Tot/Pts": "Def Tot/Pts", "2017 Def Pts/G": "Def Pts/G",
                                                     "2017 Def RushYds": "Def RushYds", "2017 Def RYds/G": "Def RYds/G",
                                                     "2017 Def PassYds": "Def PassYds", "2017 Def PYds/G": "Def PYds/G",
                                                     "2017 Def TotYds": "Def TotYds", "2017 Def Yds/G": "Def Yds/G"})

In [31]:
offense2017.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G
0,Arizona CardinalsArizona,295,18.4,1386,86.6,3640,227.5,5026,314.1
1,Atlanta FalconsAtlanta,353,22.1,1847,115.4,3990,249.4,5837,364.8
2,Baltimore RavensBaltimore,395,24.7,1856,116.0,3030,189.4,4886,305.4
3,Buffalo BillsBuffalo,302,18.9,2017,126.1,2825,176.6,4842,302.6
4,Carolina PanthersCarolina,363,22.7,2102,131.4,3077,192.3,5179,323.7

In [32]:
defense2017.head()

,Team,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona CardinalsArizona,361,22.6,1434,89.6,3541,221.3,4975,310.9
1,Atlanta FalconsAtlanta,315,19.7,1665,104.1,3429,214.3,5094,318.4
2,Baltimore RavensBaltimore,303,18.9,1780,111.2,3421,213.8,5201,325.1
3,Buffalo BillsBuffalo,359,22.4,1994,124.6,3688,230.5,5682,355.1
4,Carolina PanthersCarolina,327,20.4,1409,88.1,3665,229.1,5074,317.1

### Merge Offense and Defense Data

In [33]:
off_def2017 = pd.merge(offense2017, defense2017, on='Team')

In [34]:
off_def2017.head(32)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona CardinalsArizona,295,18.4,1386,86.6,3640,227.5,5026,314.1,361,22.6,1434,89.6,3541,221.3,4975,310.9
1,Atlanta FalconsAtlanta,353,22.1,1847,115.4,3990,249.4,5837,364.8,315,19.7,1665,104.1,3429,214.3,5094,318.4
2,Baltimore RavensBaltimore,395,24.7,1856,116.0,3030,189.4,4886,305.4,303,18.9,1780,111.2,3421,213.8,5201,325.1
3,Buffalo BillsBuffalo,302,18.9,2017,126.1,2825,176.6,4842,302.6,359,22.4,1994,124.6,3688,230.5,5682,355.1
4,Carolina PanthersCarolina,363,22.7,2102,131.4,3077,192.3,5179,323.7,327,20.4,1409,88.1,3665,229.1,5074,317.1
5,Chicago BearsChicago,264,16.5,1788,111.8,2811,175.7,4599,287.4,320,20.0,1730,108.1,3376,211.0,5106,319.1
6,Cincinnati BengalsCincinnati,290,18.1,1366,85.4,3122,195.1,4488,280.5,349,21.8,2046,127.9,3379,211.2,5425,339.1
7,Cleveland BrownsCleveland,234,14.6,1714,107.1,3228,201.8,4942,308.9,410,25.6,1566,97.9,3684,230.2,5250,328.1
8,Dallas CowboysDallas,354,22.1,2170,135.6,3141,196.3,5311,331.9,332,20.8,1664,104.0,3425,214.1,5089,318.1
9,Denver BroncosDenver,289,18.1,1852,115.8,3333,208.3,5185,324.1,382,23.9,1430,89.4,3210,200.6,4640,290.0
10,Detroit LionsDetroit,410,25.6,1221,76.3,4183,261.4,5404,337.8,376,23.5,1800,112.5,3892,243.2,5692,355.8
11,Green Bay PackersGreen Bay,320,20.0,1724,107.8,3167,197.9,4891,305.7,384,24.0,1793,112.1,3789,236.8,5582,348.9
12,Houston TexansHouston,338,21.1,1842,115.1,3278,204.9,5120,320.0,436,27.2,1747,109.2,3799,237.4,5546,346.6
13,Indianapolis ColtsIndianapolis,263,16.4,1661,103.8,2892,180.8,4553,284.6,404,25.2,1927,120.4,3946,246.6,5873,367.1
14,Jacksonville JaguarsJacksonville,417,26.1,2262,141.4,3593,224.6,5855,365.9,268,16.8,1860,116.2,2718,169.9,4578,286.1
15,Kansas City ChiefsKansas City,415,25.9,1903,118.9,4104,256.5,6007,375.4,339,21.2,1890,118.1,3952,247.0,5842,365.1
16,Los Angeles ChargersLA Chargers,355,22.2,1595,99.7,4431,276.9,6026,376.6,272,17.0,2098,131.1,3156,197.2,5254,328.4
17,Los Angeles RamsLA Rams,478,29.9,1953,122.1,3831,239.4,5784,361.5,329,20.6,1957,122.3,3475,217.2,5432,339.5
18,Miami DolphinsMiami,281,17.6,1388,86.8,3535,220.9,4923,307.7,393,24.6,1768,110.5,3603,225.2,5371,335.7
19,Minnesota VikingsMinnesota,382,23.9,1957,122.3,3753,234.6,5710,356.9,252,15.8,1337,83.6,3078,192.4,4415,275.9
20,New England PatriotsNew England,458,28.6,1889,118.1,4418,276.1,6307,394.2,296,18.5,1836,114.8,4020,251.2,5856,366.0
21,New Orleans SaintsNew Orleans,448,28.0,2070,129.4,4189,261.8,6259,391.2,326,20.4,1787,111.7,3597,224.8,5384,336.5
22,New York GiantsNY Giants,246,15.4,1549,96.8,3479,217.4,5028,314.2,388,24.2,1933,120.8,4038,252.4,5971,373.2
23,New York JetsNY Jets,298,18.6,1702,106.4,3182,198.9,4884,305.2,382,23.9,1887,117.9,3749,234.3,5636,352.2
24,Oakland RaidersOakland,301,18.8,1554,97.1,3631,226.9,5185,324.1,373,23.3,1743,108.9,3858,241.1,5601,350.1
25,Philadelphia EaglesPhiladelphia,457,28.6,2115,132.2,3737,233.6,5852,365.8,295,18.4,1267,79.2,3637,227.3,4904,306.5
26,Pittsburgh SteelersPittsburgh,406,25.4,1667,104.2,4380,273.8,6047,377.9,308,19.2,1693,105.8,3217,201.1,4910,306.9
27,San Francisco 49ersSan Francisco,331,20.7,1662,103.9,3925,245.3,5587,349.2,383,23.9,1861,116.3,3764,235.2,5625,351.6
28,Seattle SeahawksSeattle,366,22.9,1629,101.8,3657,228.6,5286,330.4,332,20.8,1824,114.0,3347,209.2,5171,323.2
29,Tampa Bay BuccaneersTampa Bay,335,20.9,1450,90.6,4366,272.9,5816,363.5,382,23.9,1880,117.5,4169,260.6,6049,378.1
30,Tennessee TitansTennessee,334,20.9,1833,114.6,3191,199.4,5024,314.0,356,22.2,1420,88.8,3828,239.2,5248,328.0
31,Washington RedskinsWashington,342,21.4,1448,90.5,3751,234.4,5199,324.9,388,24.2,2146,134.1,3420,213.8,5566,347.9

### Rename Teams to match merge data

In [35]:
teamnames17 = {'Arizona CardinalsArizona': 'Arizona Cardinals', 'Atlanta FalconsAtlanta': 'Atlanta Falcons', 
             'Baltimore RavensBaltimore': 'Baltimore Ravens', 'Buffalo BillsBuffalo': 'Buffalo Bills',
            'Carolina PanthersCarolina': 'Carolina Panthers', 'Chicago BearsChicago': 'Chicago Bears',
            'Cincinnati BengalsCincinnati': 'Cincinnati Bengals', 'Cleveland BrownsCleveland': 'Cleveland Browns',
            'Dallas CowboysDallas': 'Dallas Cowboys', 'Denver BroncosDenver': 'Denver Broncos', 
             'Detroit LionsDetroit': 'Detroit Lions', 'Green Bay PackersGreen Bay': 'Green Bay Packers',
            'Houston TexansHouston': 'Houston Texans', 'Indianapolis ColtsIndianapolis': 'Indianapolis Colts',
            'Jacksonville JaguarsJacksonville': 'Jacksonville Jaguars', 'Kansas City ChiefsKansas City': 'Kansas City Chiefs',
            'Los Angeles ChargersLA Chargers': 'Los Angeles Chargers', 'Los Angeles RamsLA Rams': 'Los Angeles Rams',
            'Miami DolphinsMiami': 'Miami Dolphins', 'Minnesota VikingsMinnesota': 'Minnesota Vikings', 
            'New England PatriotsNew England': 'New England Patriots', 'New Orleans SaintsNew Orleans': 'New Orleans Saints',
            'New York GiantsNY Giants': 'New York Giants', 'New York JetsNY Jets': 'New York Jets', 
            'Oakland RaidersOakland': 'Las Vegas Raiders', 'Philadelphia EaglesPhiladelphia': 'Philadelphia Eagles',
            'Pittsburgh SteelersPittsburgh': 'Pittsburgh Steelers',
            'San Francisco 49ersSan Francisco': 'San Francisco 49ers', 'Seattle SeahawksSeattle': 'Seattle Seahawks', 
            'Tampa Bay BuccaneersTampa Bay': 'Tampa Bay Buccaneers', 'Tennessee TitansTennessee': 'Tennessee Titans',
            'Washington RedskinsWashington': 'Washington Commanders'}
off_def2017['Team'] = off_def2017['Team'].replace(teamnames17)

In [36]:
off_def2017.tail(16)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
16,Los Angeles Chargers,355,22.2,1595,99.7,4431,276.9,6026,376.6,272,17.0,2098,131.1,3156,197.2,5254,328.4
17,Los Angeles Rams,478,29.9,1953,122.1,3831,239.4,5784,361.5,329,20.6,1957,122.3,3475,217.2,5432,339.5
18,Miami Dolphins,281,17.6,1388,86.8,3535,220.9,4923,307.7,393,24.6,1768,110.5,3603,225.2,5371,335.7
19,Minnesota Vikings,382,23.9,1957,122.3,3753,234.6,5710,356.9,252,15.8,1337,83.6,3078,192.4,4415,275.9
20,New England Patriots,458,28.6,1889,118.1,4418,276.1,6307,394.2,296,18.5,1836,114.8,4020,251.2,5856,366.0
21,New Orleans Saints,448,28.0,2070,129.4,4189,261.8,6259,391.2,326,20.4,1787,111.7,3597,224.8,5384,336.5
22,New York Giants,246,15.4,1549,96.8,3479,217.4,5028,314.2,388,24.2,1933,120.8,4038,252.4,5971,373.2
23,New York Jets,298,18.6,1702,106.4,3182,198.9,4884,305.2,382,23.9,1887,117.9,3749,234.3,5636,352.2
24,Las Vegas Raiders,301,18.8,1554,97.1,3631,226.9,5185,324.1,373,23.3,1743,108.9,3858,241.1,5601,350.1
25,Philadelphia Eagles,457,28.6,2115,132.2,3737,233.6,5852,365.8,295,18.4,1267,79.2,3637,227.3,4904,306.5
26,Pittsburgh Steelers,406,25.4,1667,104.2,4380,273.8,6047,377.9,308,19.2,1693,105.8,3217,201.1,4910,306.9
27,San Francisco 49ers,331,20.7,1662,103.9,3925,245.3,5587,349.2,383,23.9,1861,116.3,3764,235.2,5625,351.6
28,Seattle Seahawks,366,22.9,1629,101.8,3657,228.6,5286,330.4,332,20.8,1824,114.0,3347,209.2,5171,323.2
29,Tampa Bay Buccaneers,335,20.9,1450,90.6,4366,272.9,5816,363.5,382,23.9,1880,117.5,4169,260.6,6049,378.1
30,Tennessee Titans,334,20.9,1833,114.6,3191,199.4,5024,314.0,356,22.2,1420,88.8,3828,239.2,5248,328.0
31,Washington Commanders,342,21.4,1448,90.5,3751,234.4,5199,324.9,388,24.2,2146,134.1,3420,213.8,5566,347.9

### Put Dataset in Team Ascending Order

In [37]:
off_def2017 = off_def2017.sort_values("Team")

In [38]:
off_def2017.tail(16)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
24,Las Vegas Raiders,301,18.8,1554,97.1,3631,226.9,5185,324.1,373,23.3,1743,108.9,3858,241.1,5601,350.1
16,Los Angeles Chargers,355,22.2,1595,99.7,4431,276.9,6026,376.6,272,17.0,2098,131.1,3156,197.2,5254,328.4
17,Los Angeles Rams,478,29.9,1953,122.1,3831,239.4,5784,361.5,329,20.6,1957,122.3,3475,217.2,5432,339.5
18,Miami Dolphins,281,17.6,1388,86.8,3535,220.9,4923,307.7,393,24.6,1768,110.5,3603,225.2,5371,335.7
19,Minnesota Vikings,382,23.9,1957,122.3,3753,234.6,5710,356.9,252,15.8,1337,83.6,3078,192.4,4415,275.9
20,New England Patriots,458,28.6,1889,118.1,4418,276.1,6307,394.2,296,18.5,1836,114.8,4020,251.2,5856,366.0
21,New Orleans Saints,448,28.0,2070,129.4,4189,261.8,6259,391.2,326,20.4,1787,111.7,3597,224.8,5384,336.5
22,New York Giants,246,15.4,1549,96.8,3479,217.4,5028,314.2,388,24.2,1933,120.8,4038,252.4,5971,373.2
23,New York Jets,298,18.6,1702,106.4,3182,198.9,4884,305.2,382,23.9,1887,117.9,3749,234.3,5636,352.2
25,Philadelphia Eagles,457,28.6,2115,132.2,3737,233.6,5852,365.8,295,18.4,1267,79.2,3637,227.3,4904,306.5
26,Pittsburgh Steelers,406,25.4,1667,104.2,4380,273.8,6047,377.9,308,19.2,1693,105.8,3217,201.1,4910,306.9
27,San Francisco 49ers,331,20.7,1662,103.9,3925,245.3,5587,349.2,383,23.9,1861,116.3,3764,235.2,5625,351.6
28,Seattle Seahawks,366,22.9,1629,101.8,3657,228.6,5286,330.4,332,20.8,1824,114.0,3347,209.2,5171,323.2
29,Tampa Bay Buccaneers,335,20.9,1450,90.6,4366,272.9,5816,363.5,382,23.9,1880,117.5,4169,260.6,6049,378.1
30,Tennessee Titans,334,20.9,1833,114.6,3191,199.4,5024,314.0,356,22.2,1420,88.8,3828,239.2,5248,328.0
31,Washington Commanders,342,21.4,1448,90.5,3751,234.4,5199,324.9,388,24.2,2146,134.1,3420,213.8,5566,347.9

### Merge with Win/Loss Data

In [39]:
nfl2017 = pd.merge(off_def2017, wl2017, on="Team")

In [40]:
nfl2017.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Wins,Losses,Tie,Superbowl,SB Win,Year
0,Arizona Cardinals,295,18.4,1386,86.6,3640,227.5,5026,314.1,361,...,3541,221.3,4975,310.9,8,8,0,No,No,2017
1,Atlanta Falcons,353,22.1,1847,115.4,3990,249.4,5837,364.8,315,...,3429,214.3,5094,318.4,10,6,0,No,No,2017
2,Baltimore Ravens,395,24.7,1856,116.0,3030,189.4,4886,305.4,303,...,3421,213.8,5201,325.1,9,7,0,No,No,2017
3,Buffalo Bills,302,18.9,2017,126.1,2825,176.6,4842,302.6,359,...,3688,230.5,5682,355.1,9,7,0,No,No,2017
4,Carolina Panthers,363,22.7,2102,131.4,3077,192.3,5179,323.7,327,...,3665,229.1,5074,317.1,11,5,0,No,No,2017

### Save Dataset to Mac for future use

In [41]:
nfl2017.to_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2017complete.csv')

### Merge 2012-2017 Data

In [42]:
nfl2012_2017 = pd.concat([nfl2012_2016, nfl2017], axis=0, join='outer', ignore_index='True')

In [43]:
nfl2012_2017.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,357,...,3213,200.8,5405,337.8,2012,5,11,0,No,No
1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,299,...,3878,242.4,5849,365.6,2012,13,3,0,No,No
2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,344,...,3650,228.1,5615,350.9,2012,10,6,0,Yes,Yes
3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,435,...,3473,217.1,5806,362.9,2012,6,10,0,No,No
4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,363,...,3568,223.0,5329,333.1,2012,7,9,0,No,No

In [44]:
nfl2012_2017.tail()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
187,San Francisco 49ers,331,20.7,1662,103.9,3925,245.3,5587,349.2,383,...,3764,235.2,5625,351.6,2017,6,10,0,No,No
188,Seattle Seahawks,366,22.9,1629,101.8,3657,228.6,5286,330.4,332,...,3347,209.2,5171,323.2,2017,9,7,0,No,No
189,Tampa Bay Buccaneers,335,20.9,1450,90.6,4366,272.9,5816,363.5,382,...,4169,260.6,6049,378.1,2017,5,11,0,No,No
190,Tennessee Titans,334,20.9,1833,114.6,3191,199.4,5024,314.0,356,...,3828,239.2,5248,328.0,2017,9,7,0,No,No
191,Washington Commanders,342,21.4,1448,90.5,3751,234.4,5199,324.9,388,...,3420,213.8,5566,347.9,2017,7,9,0,No,No

### Save Dataset to Mac for future use

In [45]:
nfl2012_2017.to_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2012_2017merge.csv')