# Merging Years 2012-2016

### Import pandas package

In [1]:
import pandas as pd

## Import all datasets needed for merge

In [2]:
nfl2012_2015 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2012_2015merge.csv')
off2016 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_off_def/NFL2016_offense.csv')
def2016 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_off_def/NFL2016_defense.csv')
wl2016 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_2016_wl.csv')

In [3]:
nfl2012_2015.head()

,Unnamed: 0,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,...,3213,200.8,5405,337.8,2012,5,11,0,No,No
1,1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,...,3878,242.4,5849,365.6,2012,13,3,0,No,No
2,2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,...,3650,228.1,5615,350.9,2012,10,6,0,Yes,Yes
3,3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,...,3473,217.1,5806,362.9,2012,6,10,0,No,No
4,4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,...,3568,223.0,5329,333.1,2012,7,9,0,No,No

In [4]:
off2016.head()

,Unnamed: 0,Team,2016 Off Tot Pts,2016 Off Pts/G,2016 Off RushYds,2016 Off RYds/G,2016 Off PassYds,2016 Off PYds/G,2016 Off TotYds,2016 Off Yds/G
0,8,Arizona CardinalsArizona,418,26.1,1732,108.2,4136,258.5,5868,366.8
1,1,Atlanta FalconsAtlanta,540,33.8,1928,120.5,4725,295.3,6653,415.8
2,16,Baltimore RavensBaltimore,343,21.4,1463,91.4,4100,256.2,5563,347.7
3,15,Buffalo BillsBuffalo,399,24.9,2630,164.4,3036,189.8,5666,354.1
4,18,Carolina PanthersCarolina,369,23.1,1814,113.4,3685,230.3,5499,343.7

In [5]:
def2016.head()

,Unnamed: 0,Team,2016 Def Tot Pts,2016 Def Pts/G,2016 Def RushYds,2016 Def RYds/G,2016 Def PassYds,2016 Def PYds/G,2016 Def TotYds,2016 Def Yds/G
0,1,Arizona CardinalsArizona,362,22.6,1518,94.9,3365,210.3,4883,305.2
1,24,Atlanta FalconsAtlanta,406,25.4,1672,104.5,4267,266.7,5939,371.2
2,6,Baltimore RavensBaltimore,321,20.1,1430,89.4,3724,232.8,5154,322.1
3,18,Buffalo BillsBuffalo,378,23.6,2130,133.1,3582,223.9,5712,357.0
4,20,Carolina PanthersCarolina,402,25.1,1465,91.6,4291,268.2,5756,359.8

In [6]:
wl2016.head()

   Unnamed: 0               Team  Wins  Losses  Tie Superbowl SB Win  Year
0           9  Arizona Cardinals     7       8    1        No     No  2016
1          25    Atlanta Falcons    11       5    0       Yes     No  2016
2          13   Baltimore Ravens     8       8    0        No     No  2016
3          10      Buffalo Bills     7       9    0        No     No  2016
4           7  Carolina Panthers     6      10    0        No     No  2016

### Drop unnamed column from all datasets

In [7]:
nfl2012_2015 = nfl2012_2015.iloc[:, 1:]
off2016 = off2016.iloc[:, 1:]
def2016 = def2016.iloc[:, 1:]
wl2016 = wl2016.iloc[:, 1:]

In [9]:
nfl2012_2015.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,357,...,3213,200.8,5405,337.8,2012,5,11,0,No,No
1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,299,...,3878,242.4,5849,365.6,2012,13,3,0,No,No
2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,344,...,3650,228.1,5615,350.9,2012,10,6,0,Yes,Yes
3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,435,...,3473,217.1,5806,362.9,2012,6,10,0,No,No
4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,363,...,3568,223.0,5329,333.1,2012,7,9,0,No,No

In [10]:
off2016.head()

,Team,2016 Off Tot Pts,2016 Off Pts/G,2016 Off RushYds,2016 Off RYds/G,2016 Off PassYds,2016 Off PYds/G,2016 Off TotYds,2016 Off Yds/G
0,Arizona CardinalsArizona,418,26.1,1732,108.2,4136,258.5,5868,366.8
1,Atlanta FalconsAtlanta,540,33.8,1928,120.5,4725,295.3,6653,415.8
2,Baltimore RavensBaltimore,343,21.4,1463,91.4,4100,256.2,5563,347.7
3,Buffalo BillsBuffalo,399,24.9,2630,164.4,3036,189.8,5666,354.1
4,Carolina PanthersCarolina,369,23.1,1814,113.4,3685,230.3,5499,343.7

In [11]:
def2016.head()

,Team,2016 Def Tot Pts,2016 Def Pts/G,2016 Def RushYds,2016 Def RYds/G,2016 Def PassYds,2016 Def PYds/G,2016 Def TotYds,2016 Def Yds/G
0,Arizona CardinalsArizona,362,22.6,1518,94.9,3365,210.3,4883,305.2
1,Atlanta FalconsAtlanta,406,25.4,1672,104.5,4267,266.7,5939,371.2
2,Baltimore RavensBaltimore,321,20.1,1430,89.4,3724,232.8,5154,322.1
3,Buffalo BillsBuffalo,378,23.6,2130,133.1,3582,223.9,5712,357.0
4,Carolina PanthersCarolina,402,25.1,1465,91.6,4291,268.2,5756,359.8

In [12]:
wl2016.head()

                Team  Wins  Losses  Tie Superbowl SB Win  Year
0  Arizona Cardinals     7       8    1        No     No  2016
1    Atlanta Falcons    11       5    0       Yes     No  2016
2   Baltimore Ravens     8       8    0        No     No  2016
3      Buffalo Bills     7       9    0        No     No  2016
4  Carolina Panthers     6      10    0        No     No  2016

### Rename columns in off/def data

In [13]:
offense2016 = off2016.rename(columns ={"2016 Off Tot Pts": "Off Tot/Pts", "2016 Off Pts/G": "Off Pts/G",
                                                     "2016 Off RushYds": "Off RushYds", "2016 Off RYds/G": "Off RYds/G",
                                                     "2016 Off PassYds": "Off PassYds", "2016 Off PYds/G": "Off PYds/G",
                                                     "2016 Off TotYds": "Off TotYds", "2016 Off Yds/G": "Off Yds/G"})
defense2016 = def2016.rename(columns ={"2016 Def Tot Pts": "Def Tot/Pts", "2016 Def Pts/G": "Def Pts/G",
                                                     "2016 Def RushYds": "Def RushYds", "2016 Def RYds/G": "Def RYds/G",
                                                     "2016 Def PassYds": "Def PassYds", "2016 Def PYds/G": "Def PYds/G",
                                                     "2016 Def TotYds": "Def TotYds", "2016 Def Yds/G": "Def Yds/G"})

In [14]:
offense2016.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G
0,Arizona CardinalsArizona,418,26.1,1732,108.2,4136,258.5,5868,366.8
1,Atlanta FalconsAtlanta,540,33.8,1928,120.5,4725,295.3,6653,415.8
2,Baltimore RavensBaltimore,343,21.4,1463,91.4,4100,256.2,5563,347.7
3,Buffalo BillsBuffalo,399,24.9,2630,164.4,3036,189.8,5666,354.1
4,Carolina PanthersCarolina,369,23.1,1814,113.4,3685,230.3,5499,343.7

In [15]:
defense2016.head()

,Team,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona CardinalsArizona,362,22.6,1518,94.9,3365,210.3,4883,305.2
1,Atlanta FalconsAtlanta,406,25.4,1672,104.5,4267,266.7,5939,371.2
2,Baltimore RavensBaltimore,321,20.1,1430,89.4,3724,232.8,5154,322.1
3,Buffalo BillsBuffalo,378,23.6,2130,133.1,3582,223.9,5712,357.0
4,Carolina PanthersCarolina,402,25.1,1465,91.6,4291,268.2,5756,359.8

### Merge Offense and Defense Data

In [16]:
off_def2016 = pd.merge(offense2016, defense2016, on='Team')

In [17]:
off_def2016.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona CardinalsArizona,418,26.1,1732,108.2,4136,258.5,5868,366.8,362,22.6,1518,94.9,3365,210.3,4883,305.2
1,Atlanta FalconsAtlanta,540,33.8,1928,120.5,4725,295.3,6653,415.8,406,25.4,1672,104.5,4267,266.7,5939,371.2
2,Baltimore RavensBaltimore,343,21.4,1463,91.4,4100,256.2,5563,347.7,321,20.1,1430,89.4,3724,232.8,5154,322.1
3,Buffalo BillsBuffalo,399,24.9,2630,164.4,3036,189.8,5666,354.1,378,23.6,2130,133.1,3582,223.9,5712,357.0
4,Carolina PanthersCarolina,369,23.1,1814,113.4,3685,230.3,5499,343.7,402,25.1,1465,91.6,4291,268.2,5756,359.8

In [20]:
off_def2016.tail(16)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
16,Los Angeles RamsLos Angeles,224,14.0,1252,78.2,2951,184.4,4203,262.7,394,24.6,1660,103.8,3732,233.2,5392,337.0
17,Miami Dolphins,363,22.7,1824,114.0,3500,218.8,5324,332.8,380,23.8,2247,140.4,3875,242.2,6122,382.6
18,Minnesota Vikings,327,20.4,1205,75.3,3836,239.8,5041,315.1,307,19.2,1711,106.9,3327,207.9,5038,314.9
19,New England Patriots,441,27.6,1872,117.0,4308,269.2,6180,386.2,250,15.6,1417,88.6,3806,237.9,5223,326.4
20,New Orleans Saints,469,29.3,1742,108.9,5074,317.1,6816,426.0,454,28.4,1626,101.6,4380,273.8,6006,375.4
21,New York Giants,310,19.4,1412,88.2,3879,242.4,5291,330.7,284,17.8,1417,88.6,4018,251.1,5435,339.7
22,New York Jets,275,17.2,1802,112.6,3466,216.6,5268,329.2,409,25.6,1581,98.8,3898,243.6,5479,342.4
23,Las Vegas Raiders,416,26.0,1922,120.1,4051,253.2,5973,373.3,385,24.1,1881,117.6,4120,257.5,6001,375.1
24,Philadelphia Eagles,367,22.9,1813,113.3,3585,224.1,5398,337.4,331,20.7,1652,103.2,3832,239.5,5484,342.8
25,Pittsburgh Steelers,399,24.9,1760,110.0,4202,262.6,5962,372.6,327,20.4,1600,100.0,3882,242.6,5482,342.6
26,Los Angeles Chargers,410,25.6,1510,94.4,4198,262.4,5708,356.8,423,26.4,1567,97.9,3987,249.2,5554,347.1
27,San Francisco 49ers,309,19.3,2019,126.2,2911,181.9,4930,308.1,480,30.0,2654,165.9,3848,240.5,6502,406.4
28,Seattle Seahawks,354,22.1,1591,99.4,4124,257.8,5715,357.2,292,18.2,1487,92.9,3612,225.8,5099,318.7
29,Tampa Bay Buccaneers,354,22.1,1616,101.0,3926,245.4,5542,346.4,369,23.1,1875,117.2,4012,250.8,5887,367.9
30,Tennessee Titans,381,23.8,2187,136.7,3541,221.3,5728,358.0,378,23.6,1413,88.3,4307,269.2,5720,357.5
31,Washington Commanders,396,24.8,1696,106.0,4758,297.4,6454,403.4,383,23.9,1916,119.8,4130,258.1,6046,377.9

### Rename Teams to match merge data

In [18]:
teamnames16 = {'Arizona CardinalsArizona': 'Arizona Cardinals', 'Atlanta FalconsAtlanta': 'Atlanta Falcons', 
             'Baltimore RavensBaltimore': 'Baltimore Ravens', 'Buffalo BillsBuffalo': 'Buffalo Bills',
            'Carolina PanthersCarolina': 'Carolina Panthers', 'Chicago BearsChicago': 'Chicago Bears',
            'Cincinnati BengalsCincinnati': 'Cincinnati Bengals', 'Cleveland BrownsCleveland': 'Cleveland Browns',
            'Dallas CowboysDallas': 'Dallas Cowboys', 'Denver BroncosDenver': 'Denver Broncos', 
             'Detroit LionsDetroit': 'Detroit Lions', 'Green Bay PackersGreen Bay': 'Green Bay Packers',
            'Houston TexansHouston': 'Houston Texans', 'Indianapolis ColtsIndianapolis': 'Indianapolis Colts',
            'Jacksonville JaguarsJacksonville': 'Jacksonville Jaguars', 'Kansas City ChiefsKansas City': 'Kansas City Chiefs',
            'Miami DolphinsMiami': 'Miami Dolphins', 'Minnesota VikingsMinnesota': 'Minnesota Vikings', 
            'New England PatriotsNew England': 'New England Patriots', 'New Orleans SaintsNew Orleans': 'New Orleans Saints',
            'New York GiantsNY Giants': 'New York Giants', 'New York JetsNY Jets': 'New York Jets', 
            'Oakland RaidersOakland': 'Las Vegas Raiders', 'Philadelphia EaglesPhiladelphia': 'Philadelphia Eagles',
            'Pittsburgh SteelersPittsburgh': 'Pittsburgh Steelers', 'San Diego ChargersSan Diego': 'Los Angeles Chargers',
            'San Francisco 49ersSan Francisco': 'San Francisco 49ers', 'Seattle SeahawksSeattle': 'Seattle Seahawks',
            'St. Louis RamsSt. Louis': 'Los Angeles Rams', 
            'Tampa Bay BuccaneersTampa Bay': 'Tampa Bay Buccaneers', 'Tennessee TitansTennessee': 'Tennessee Titans',
            'Washington RedskinsWashington': 'Washington Commanders'}
off_def2016['Team'] = off_def2016['Team'].replace(teamnames16)

In [21]:
off_def2016.head(32)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona Cardinals,418,26.1,1732,108.2,4136,258.5,5868,366.8,362,22.6,1518,94.9,3365,210.3,4883,305.2
1,Atlanta Falcons,540,33.8,1928,120.5,4725,295.3,6653,415.8,406,25.4,1672,104.5,4267,266.7,5939,371.2
2,Baltimore Ravens,343,21.4,1463,91.4,4100,256.2,5563,347.7,321,20.1,1430,89.4,3724,232.8,5154,322.1
3,Buffalo Bills,399,24.9,2630,164.4,3036,189.8,5666,354.1,378,23.6,2130,133.1,3582,223.9,5712,357.0
4,Carolina Panthers,369,23.1,1814,113.4,3685,230.3,5499,343.7,402,25.1,1465,91.6,4291,268.2,5756,359.8
5,Chicago Bears,279,17.4,1735,108.4,3969,248.1,5704,356.5,399,24.9,1950,121.9,3598,224.9,5548,346.8
6,Cincinnati Bengals,325,20.3,1769,110.6,3942,246.4,5711,356.9,315,19.7,1812,113.2,3800,237.5,5612,350.8
7,Cleveland Browns,264,16.5,1712,107.0,3264,204.0,4976,311.0,452,28.2,2283,142.7,3996,249.8,6279,392.4
8,Dallas Cowboys,421,26.3,2396,149.8,3631,226.9,6027,376.7,306,19.1,1336,83.5,4167,260.4,5503,343.9
9,Denver Broncos,333,20.8,1484,92.8,3685,230.3,5169,323.1,297,18.6,2085,130.3,2972,185.8,5057,316.1
10,Detroit Lions,346,21.6,1310,81.9,4111,256.9,5421,338.8,358,22.4,1701,106.3,3975,248.4,5676,354.8
11,Green Bay Packers,432,27.0,1701,106.3,4199,262.4,5900,368.8,388,24.2,1515,94.7,4308,269.2,5823,363.9
12,Houston Texans,279,17.4,1859,116.2,3176,198.5,5035,314.7,328,20.5,1595,99.7,3226,201.6,4821,301.3
13,Indianapolis Colts,411,25.7,1628,101.8,4202,262.6,5830,364.4,392,24.5,1926,120.4,4200,262.5,6126,382.9
14,Jacksonville Jaguars,318,19.9,1631,101.9,3728,233.0,5359,334.9,400,25.0,1703,106.4,3444,215.2,5147,321.7
15,Kansas City Chiefs,389,24.3,1748,109.2,3740,233.8,5488,343.0,311,19.4,1938,121.1,3958,247.4,5896,368.5
16,Los Angeles RamsLos Angeles,224,14.0,1252,78.2,2951,184.4,4203,262.7,394,24.6,1660,103.8,3732,233.2,5392,337.0
17,Miami Dolphins,363,22.7,1824,114.0,3500,218.8,5324,332.8,380,23.8,2247,140.4,3875,242.2,6122,382.6
18,Minnesota Vikings,327,20.4,1205,75.3,3836,239.8,5041,315.1,307,19.2,1711,106.9,3327,207.9,5038,314.9
19,New England Patriots,441,27.6,1872,117.0,4308,269.2,6180,386.2,250,15.6,1417,88.6,3806,237.9,5223,326.4
20,New Orleans Saints,469,29.3,1742,108.9,5074,317.1,6816,426.0,454,28.4,1626,101.6,4380,273.8,6006,375.4
21,New York Giants,310,19.4,1412,88.2,3879,242.4,5291,330.7,284,17.8,1417,88.6,4018,251.1,5435,339.7
22,New York Jets,275,17.2,1802,112.6,3466,216.6,5268,329.2,409,25.6,1581,98.8,3898,243.6,5479,342.4
23,Las Vegas Raiders,416,26.0,1922,120.1,4051,253.2,5973,373.3,385,24.1,1881,117.6,4120,257.5,6001,375.1
24,Philadelphia Eagles,367,22.9,1813,113.3,3585,224.1,5398,337.4,331,20.7,1652,103.2,3832,239.5,5484,342.8
25,Pittsburgh Steelers,399,24.9,1760,110.0,4202,262.6,5962,372.6,327,20.4,1600,100.0,3882,242.6,5482,342.6
26,Los Angeles Chargers,410,25.6,1510,94.4,4198,262.4,5708,356.8,423,26.4,1567,97.9,3987,249.2,5554,347.1
27,San Francisco 49ers,309,19.3,2019,126.2,2911,181.9,4930,308.1,480,30.0,2654,165.9,3848,240.5,6502,406.4
28,Seattle Seahawks,354,22.1,1591,99.4,4124,257.8,5715,357.2,292,18.2,1487,92.9,3612,225.8,5099,318.7
29,Tampa Bay Buccaneers,354,22.1,1616,101.0,3926,245.4,5542,346.4,369,23.1,1875,117.2,4012,250.8,5887,367.9
30,Tennessee Titans,381,23.8,2187,136.7,3541,221.3,5728,358.0,378,23.6,1413,88.3,4307,269.2,5720,357.5
31,Washington Commanders,396,24.8,1696,106.0,4758,297.4,6454,403.4,383,23.9,1916,119.8,4130,258.1,6046,377.9

### Fix Los Angeles Rams Name

In [22]:
teamnames_16 = {'Los Angeles RamsLos Angeles': 'Los Angeles Rams'}
off_def2016['Team'] = off_def2016['Team'].replace(teamnames_16)

In [24]:
off_def2016.head(32)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona Cardinals,418,26.1,1732,108.2,4136,258.5,5868,366.8,362,22.6,1518,94.9,3365,210.3,4883,305.2
1,Atlanta Falcons,540,33.8,1928,120.5,4725,295.3,6653,415.8,406,25.4,1672,104.5,4267,266.7,5939,371.2
2,Baltimore Ravens,343,21.4,1463,91.4,4100,256.2,5563,347.7,321,20.1,1430,89.4,3724,232.8,5154,322.1
3,Buffalo Bills,399,24.9,2630,164.4,3036,189.8,5666,354.1,378,23.6,2130,133.1,3582,223.9,5712,357.0
4,Carolina Panthers,369,23.1,1814,113.4,3685,230.3,5499,343.7,402,25.1,1465,91.6,4291,268.2,5756,359.8
5,Chicago Bears,279,17.4,1735,108.4,3969,248.1,5704,356.5,399,24.9,1950,121.9,3598,224.9,5548,346.8
6,Cincinnati Bengals,325,20.3,1769,110.6,3942,246.4,5711,356.9,315,19.7,1812,113.2,3800,237.5,5612,350.8
7,Cleveland Browns,264,16.5,1712,107.0,3264,204.0,4976,311.0,452,28.2,2283,142.7,3996,249.8,6279,392.4
8,Dallas Cowboys,421,26.3,2396,149.8,3631,226.9,6027,376.7,306,19.1,1336,83.5,4167,260.4,5503,343.9
9,Denver Broncos,333,20.8,1484,92.8,3685,230.3,5169,323.1,297,18.6,2085,130.3,2972,185.8,5057,316.1
10,Detroit Lions,346,21.6,1310,81.9,4111,256.9,5421,338.8,358,22.4,1701,106.3,3975,248.4,5676,354.8
11,Green Bay Packers,432,27.0,1701,106.3,4199,262.4,5900,368.8,388,24.2,1515,94.7,4308,269.2,5823,363.9
12,Houston Texans,279,17.4,1859,116.2,3176,198.5,5035,314.7,328,20.5,1595,99.7,3226,201.6,4821,301.3
13,Indianapolis Colts,411,25.7,1628,101.8,4202,262.6,5830,364.4,392,24.5,1926,120.4,4200,262.5,6126,382.9
14,Jacksonville Jaguars,318,19.9,1631,101.9,3728,233.0,5359,334.9,400,25.0,1703,106.4,3444,215.2,5147,321.7
15,Kansas City Chiefs,389,24.3,1748,109.2,3740,233.8,5488,343.0,311,19.4,1938,121.1,3958,247.4,5896,368.5
16,Los Angeles Rams,224,14.0,1252,78.2,2951,184.4,4203,262.7,394,24.6,1660,103.8,3732,233.2,5392,337.0
17,Miami Dolphins,363,22.7,1824,114.0,3500,218.8,5324,332.8,380,23.8,2247,140.4,3875,242.2,6122,382.6
18,Minnesota Vikings,327,20.4,1205,75.3,3836,239.8,5041,315.1,307,19.2,1711,106.9,3327,207.9,5038,314.9
19,New England Patriots,441,27.6,1872,117.0,4308,269.2,6180,386.2,250,15.6,1417,88.6,3806,237.9,5223,326.4
20,New Orleans Saints,469,29.3,1742,108.9,5074,317.1,6816,426.0,454,28.4,1626,101.6,4380,273.8,6006,375.4
21,New York Giants,310,19.4,1412,88.2,3879,242.4,5291,330.7,284,17.8,1417,88.6,4018,251.1,5435,339.7
22,New York Jets,275,17.2,1802,112.6,3466,216.6,5268,329.2,409,25.6,1581,98.8,3898,243.6,5479,342.4
23,Las Vegas Raiders,416,26.0,1922,120.1,4051,253.2,5973,373.3,385,24.1,1881,117.6,4120,257.5,6001,375.1
24,Philadelphia Eagles,367,22.9,1813,113.3,3585,224.1,5398,337.4,331,20.7,1652,103.2,3832,239.5,5484,342.8
25,Pittsburgh Steelers,399,24.9,1760,110.0,4202,262.6,5962,372.6,327,20.4,1600,100.0,3882,242.6,5482,342.6
26,Los Angeles Chargers,410,25.6,1510,94.4,4198,262.4,5708,356.8,423,26.4,1567,97.9,3987,249.2,5554,347.1
27,San Francisco 49ers,309,19.3,2019,126.2,2911,181.9,4930,308.1,480,30.0,2654,165.9,3848,240.5,6502,406.4
28,Seattle Seahawks,354,22.1,1591,99.4,4124,257.8,5715,357.2,292,18.2,1487,92.9,3612,225.8,5099,318.7
29,Tampa Bay Buccaneers,354,22.1,1616,101.0,3926,245.4,5542,346.4,369,23.1,1875,117.2,4012,250.8,5887,367.9
30,Tennessee Titans,381,23.8,2187,136.7,3541,221.3,5728,358.0,378,23.6,1413,88.3,4307,269.2,5720,357.5
31,Washington Commanders,396,24.8,1696,106.0,4758,297.4,6454,403.4,383,23.9,1916,119.8,4130,258.1,6046,377.9

### Put Dataset in Team Ascending Order

In [25]:
off_def2016 = off_def2016.sort_values("Team")

In [26]:
off_def2016.tail(16)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
23,Las Vegas Raiders,416,26.0,1922,120.1,4051,253.2,5973,373.3,385,24.1,1881,117.6,4120,257.5,6001,375.1
26,Los Angeles Chargers,410,25.6,1510,94.4,4198,262.4,5708,356.8,423,26.4,1567,97.9,3987,249.2,5554,347.1
16,Los Angeles Rams,224,14.0,1252,78.2,2951,184.4,4203,262.7,394,24.6,1660,103.8,3732,233.2,5392,337.0
17,Miami Dolphins,363,22.7,1824,114.0,3500,218.8,5324,332.8,380,23.8,2247,140.4,3875,242.2,6122,382.6
18,Minnesota Vikings,327,20.4,1205,75.3,3836,239.8,5041,315.1,307,19.2,1711,106.9,3327,207.9,5038,314.9
19,New England Patriots,441,27.6,1872,117.0,4308,269.2,6180,386.2,250,15.6,1417,88.6,3806,237.9,5223,326.4
20,New Orleans Saints,469,29.3,1742,108.9,5074,317.1,6816,426.0,454,28.4,1626,101.6,4380,273.8,6006,375.4
21,New York Giants,310,19.4,1412,88.2,3879,242.4,5291,330.7,284,17.8,1417,88.6,4018,251.1,5435,339.7
22,New York Jets,275,17.2,1802,112.6,3466,216.6,5268,329.2,409,25.6,1581,98.8,3898,243.6,5479,342.4
24,Philadelphia Eagles,367,22.9,1813,113.3,3585,224.1,5398,337.4,331,20.7,1652,103.2,3832,239.5,5484,342.8
25,Pittsburgh Steelers,399,24.9,1760,110.0,4202,262.6,5962,372.6,327,20.4,1600,100.0,3882,242.6,5482,342.6
27,San Francisco 49ers,309,19.3,2019,126.2,2911,181.9,4930,308.1,480,30.0,2654,165.9,3848,240.5,6502,406.4
28,Seattle Seahawks,354,22.1,1591,99.4,4124,257.8,5715,357.2,292,18.2,1487,92.9,3612,225.8,5099,318.7
29,Tampa Bay Buccaneers,354,22.1,1616,101.0,3926,245.4,5542,346.4,369,23.1,1875,117.2,4012,250.8,5887,367.9
30,Tennessee Titans,381,23.8,2187,136.7,3541,221.3,5728,358.0,378,23.6,1413,88.3,4307,269.2,5720,357.5
31,Washington Commanders,396,24.8,1696,106.0,4758,297.4,6454,403.4,383,23.9,1916,119.8,4130,258.1,6046,377.9

### Merge with Win/Loss Data

In [27]:
nfl2016 = pd.merge(off_def2016, wl2016, on="Team")

In [28]:
nfl2016.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Wins,Losses,Tie,Superbowl,SB Win,Year
0,Arizona Cardinals,418,26.1,1732,108.2,4136,258.5,5868,366.8,362,...,3365,210.3,4883,305.2,7,8,1,No,No,2016
1,Atlanta Falcons,540,33.8,1928,120.5,4725,295.3,6653,415.8,406,...,4267,266.7,5939,371.2,11,5,0,Yes,No,2016
2,Baltimore Ravens,343,21.4,1463,91.4,4100,256.2,5563,347.7,321,...,3724,232.8,5154,322.1,8,8,0,No,No,2016
3,Buffalo Bills,399,24.9,2630,164.4,3036,189.8,5666,354.1,378,...,3582,223.9,5712,357.0,7,9,0,No,No,2016
4,Carolina Panthers,369,23.1,1814,113.4,3685,230.3,5499,343.7,402,...,4291,268.2,5756,359.8,6,10,0,No,No,2016

### Save Dataset to Mac for future use

In [29]:
nfl2016.to_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2016complete.csv')

### Merge 2012-2016 Data

In [30]:
nfl2012_2016 = pd.concat([nfl2012_2015, nfl2016], axis=0, join='outer', ignore_index='True')

In [31]:
nfl2012_2016.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,357,...,3213,200.8,5405,337.8,2012,5,11,0,No,No
1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,299,...,3878,242.4,5849,365.6,2012,13,3,0,No,No
2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,344,...,3650,228.1,5615,350.9,2012,10,6,0,Yes,Yes
3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,435,...,3473,217.1,5806,362.9,2012,6,10,0,No,No
4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,363,...,3568,223.0,5329,333.1,2012,7,9,0,No,No

In [32]:
nfl2012_2016.tail()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
155,San Francisco 49ers,309,19.3,2019,126.2,2911,181.9,4930,308.1,480,...,3848,240.5,6502,406.4,2016,2,14,0,No,No
156,Seattle Seahawks,354,22.1,1591,99.4,4124,257.8,5715,357.2,292,...,3612,225.8,5099,318.7,2016,10,5,1,No,No
157,Tampa Bay Buccaneers,354,22.1,1616,101.0,3926,245.4,5542,346.4,369,...,4012,250.8,5887,367.9,2016,9,7,0,No,No
158,Tennessee Titans,381,23.8,2187,136.7,3541,221.3,5728,358.0,378,...,4307,269.2,5720,357.5,2016,9,7,0,No,No
159,Washington Commanders,396,24.8,1696,106.0,4758,297.4,6454,403.4,383,...,4130,258.1,6046,377.9,2016,8,7,1,No,No

### Save Dataset to Mac for future use

In [33]:
nfl2012_2016.to_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2012_2016merge.csv')