# Final Project Merging Data

### Import packages

In [54]:
import pandas as pd

### Import 2012 Offense & Defense Datasets

In [55]:
off2012 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_off_def/NFL2012_offense.csv')

In [56]:
def2012 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_off_def/NFL2012_defense.csv')

In [57]:
off2012.head()

,Unnamed: 0,Team,TotPts,2012 Off Pts/G,2012 Off RushYds,2012 Off RYds/G,2012 Off PassYds,2012 Off PYds/G,2012 Off TotYds,2012 Off Yds/G
0,31,Arizona CardinalsArizona,250,15.6,1204,75.2,3005,187.8,4209,263.1
1,7,Atlanta FalconsAtlanta,419,26.2,1397,87.3,4509,281.8,5906,369.1
2,15,Baltimore RavensBaltimore,398,24.9,1901,118.8,3739,233.7,5640,352.5
3,18,Buffalo BillsBuffalo,344,21.5,2217,138.6,3269,204.3,5486,342.9
4,11,Carolina PanthersCarolina,357,22.3,2088,130.5,3683,230.2,5771,360.7

In [58]:
def2012.head()

,Unnamed: 0,Team,2012 Def Tot Pts,2012 Def Pts/G,2012 Def RushYds,2012 Def RYds/G,2012 Def PassYds,2012 Def PYds/G,2012 Def TotYds,2012 Def Yds/G
0,11,Arizona CardinalsArizona,357,22.3,2192,137.0,3213,200.8,5405,337.8
1,23,Atlanta FalconsAtlanta,299,18.7,1971,123.2,3878,242.4,5849,365.6
2,16,Baltimore RavensBaltimore,344,21.5,1965,122.8,3650,228.1,5615,350.9
3,21,Buffalo BillsBuffalo,435,27.2,2333,145.8,3473,217.1,5806,362.9
4,9,Carolina PanthersCarolina,363,22.7,1761,110.1,3568,223.0,5329,333.1

### Drop unnamed column in both datasets

In [59]:
off2012 = off2012.iloc[:, 1:]

In [60]:
off2012.head()

,Team,TotPts,2012 Off Pts/G,2012 Off RushYds,2012 Off RYds/G,2012 Off PassYds,2012 Off PYds/G,2012 Off TotYds,2012 Off Yds/G
0,Arizona CardinalsArizona,250,15.6,1204,75.2,3005,187.8,4209,263.1
1,Atlanta FalconsAtlanta,419,26.2,1397,87.3,4509,281.8,5906,369.1
2,Baltimore RavensBaltimore,398,24.9,1901,118.8,3739,233.7,5640,352.5
3,Buffalo BillsBuffalo,344,21.5,2217,138.6,3269,204.3,5486,342.9
4,Carolina PanthersCarolina,357,22.3,2088,130.5,3683,230.2,5771,360.7

In [61]:
def2012 = def2012.iloc[:, 1:]

In [62]:
def2012.head()

,Team,2012 Def Tot Pts,2012 Def Pts/G,2012 Def RushYds,2012 Def RYds/G,2012 Def PassYds,2012 Def PYds/G,2012 Def TotYds,2012 Def Yds/G
0,Arizona CardinalsArizona,357,22.3,2192,137.0,3213,200.8,5405,337.8
1,Atlanta FalconsAtlanta,299,18.7,1971,123.2,3878,242.4,5849,365.6
2,Baltimore RavensBaltimore,344,21.5,1965,122.8,3650,228.1,5615,350.9
3,Buffalo BillsBuffalo,435,27.2,2333,145.8,3473,217.1,5806,362.9
4,Carolina PanthersCarolina,363,22.7,1761,110.1,3568,223.0,5329,333.1

### Rename columns

In [63]:
offense2012 = off2012.rename(columns ={"TotPts": "Off Tot/Pts", "2012 Off Pts/G": "Off Pts/G",
                                                     "2012 Off RushYds": "Off RushYds", "2012 Off RYds/G": "Off RYds/G",
                                                     "2012 Off PassYds": "Off PassYds", "2012 Off PYds/G": "Off PYds/G",
                                                     "2012 Off TotYds": "Off TotYds", "2012 Off Yds/G": "Off Yds/G"})

In [64]:
offense2012.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G
0,Arizona CardinalsArizona,250,15.6,1204,75.2,3005,187.8,4209,263.1
1,Atlanta FalconsAtlanta,419,26.2,1397,87.3,4509,281.8,5906,369.1
2,Baltimore RavensBaltimore,398,24.9,1901,118.8,3739,233.7,5640,352.5
3,Buffalo BillsBuffalo,344,21.5,2217,138.6,3269,204.3,5486,342.9
4,Carolina PanthersCarolina,357,22.3,2088,130.5,3683,230.2,5771,360.7

In [65]:
defense2012 = def2012.rename(columns ={"2012 Def Tot Pts": "Def Tot/Pts", "2012 Def Pts/G": "Def Pts/G",
                                                     "2012 Def RushYds": "Def RushYds", "2012 Def RYds/G": "Def RYds/G",
                                                     "2012 Def PassYds": "Def PassYds", "2012 Def PYds/G": "Def PYds/G",
                                                     "2012 Def TotYds": "Def TotYds", "2012 Def Yds/G": "Def Yds/G"})

In [66]:
defense2012.head()

,Team,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona CardinalsArizona,357,22.3,2192,137.0,3213,200.8,5405,337.8
1,Atlanta FalconsAtlanta,299,18.7,1971,123.2,3878,242.4,5849,365.6
2,Baltimore RavensBaltimore,344,21.5,1965,122.8,3650,228.1,5615,350.9
3,Buffalo BillsBuffalo,435,27.2,2333,145.8,3473,217.1,5806,362.9
4,Carolina PanthersCarolina,363,22.7,1761,110.1,3568,223.0,5329,333.1

### Merge 2012 Offense and Defense into one dataset

In [67]:
off_def2012 = pd.merge(offense2012, defense2012, on='Team')

In [68]:
off_def2012.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona CardinalsArizona,250,15.6,1204,75.2,3005,187.8,4209,263.1,357,22.3,2192,137.0,3213,200.8,5405,337.8
1,Atlanta FalconsAtlanta,419,26.2,1397,87.3,4509,281.8,5906,369.1,299,18.7,1971,123.2,3878,242.4,5849,365.6
2,Baltimore RavensBaltimore,398,24.9,1901,118.8,3739,233.7,5640,352.5,344,21.5,1965,122.8,3650,228.1,5615,350.9
3,Buffalo BillsBuffalo,344,21.5,2217,138.6,3269,204.3,5486,342.9,435,27.2,2333,145.8,3473,217.1,5806,362.9
4,Carolina PanthersCarolina,357,22.3,2088,130.5,3683,230.2,5771,360.7,363,22.7,1761,110.1,3568,223.0,5329,333.1

In [69]:
off_def2012.tail()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
27,Seattle SeahawksSeattle,412,25.8,2579,161.2,3031,189.4,5610,350.6,245,15.3,1649,103.1,3250,203.1,4899,306.2
28,St. Louis RamsSt. Louis,299,18.7,1714,107.1,3550,221.9,5264,329.0,348,21.8,1880,117.5,3602,225.1,5482,342.6
29,Tampa Bay BuccaneersTampa Bay,389,24.3,1837,114.8,3983,248.9,5820,363.8,394,24.6,1320,82.5,4758,297.4,6078,379.9
30,Tennessee TitansTennessee,330,20.6,1687,105.4,3323,207.7,5010,313.1,471,29.4,2035,127.2,3964,247.8,5999,374.9
31,Washington RedskinsWashington,436,27.2,2709,169.3,3422,213.9,6131,383.2,388,24.2,1532,95.8,4511,281.9,6043,377.7

### Rename the Team column

In [70]:
teamnames = {'Arizona CardinalsArizona': 'Arizona Cardinals', 'Atlanta FalconsAtlanta': 'Atlanta Falcons', 
             'Baltimore RavensBaltimore': 'Baltimore Ravens', 'Buffalo BillsBuffalo': 'Buffalo Bills',
            'Carolina PanthersCarolina': 'Carolina Panthers', 'Chicago BearsChicago': 'Chicago Bears',
            'Cincinnati BengalsCincinnati': 'Cincinnati Bengals', 'Cleveland BrownsCleveland': 'Cleveland Browns',
            'Dallas CowboysDallas': 'Dallas Cowboys', 'Denver BroncosDenver': 'Denver Broncos', 
             'Detroit LionsDetroit': 'Detroit Lions', 'Green Bay PackersGreen Bay': 'Green Bay Packers',
            'Houston TexansHouston': 'Houston Texans', 'Indianapolis ColtsIndianapolis': 'Indianapolis Colts',
            'Jacksonville JaguarsJacksonville': 'Jacksonville Jaguars', 'Kansas City ChiefsKansas City': 'Kansas City Chiefs',
            'Miami DolphinsMiami': 'Miami Dolphins', 'Minnesota VikingsMinnesota': 'Minnesota Vikings', 
            'New England PatriotsNew England': 'New England Patriots', 'New Orleans SaintsNew Orleans': 'New Orleans Saints',
            'New York GiantsNY Giants': 'New York Giants', 'New York JetsNY Jets': 'New York Jets', 
            'Oakland RaidersOakland': 'Las Vegas Raiders', 'Philadelphia EaglesPhiladelphia': 'Philadelphia Eagles',
            'Pittsburgh SteelersPittsburgh': 'Pittsburgh Steelers', 'San Diego ChargersSan Diego': 'Los Angeles Chargers',
            'San Francisco 49ersSan Francisco': 'San Francisco 49ers', 'Seattle SeahawksSeattle': 'Seattle Seahawks',
            'St. Louis RamsSt. Louis': 'Los Angeles Rams', 
            'Tampa Bay BuccaneersTampa Bay': 'Tampa Bay Buccaneers', 'Tennessee TitansTennessee': 'Tennessee Titans',
            'Washington RedskinsWashington': 'Washington Commanders'}
off_def2012['Team'] = off_def2012['Team'].replace(teamnames)

In [71]:
off_def2012.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,357,22.3,2192,137.0,3213,200.8,5405,337.8
1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,299,18.7,1971,123.2,3878,242.4,5849,365.6
2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,344,21.5,1965,122.8,3650,228.1,5615,350.9
3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,435,27.2,2333,145.8,3473,217.1,5806,362.9
4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,363,22.7,1761,110.1,3568,223.0,5329,333.1

### Put Dataset in Team Ascending Order

In [72]:
off_def2012 = off_def2012.sort_values("Team")

In [73]:
off_def2012.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,357,22.3,2192,137.0,3213,200.8,5405,337.8
1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,299,18.7,1971,123.2,3878,242.4,5849,365.6
2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,344,21.5,1965,122.8,3650,228.1,5615,350.9
3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,435,27.2,2333,145.8,3473,217.1,5806,362.9
4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,363,22.7,1761,110.1,3568,223.0,5329,333.1

### Add year column

In [74]:
datayear12 = 2012
off_def2012['Year'] = datayear12

In [75]:
off_def2012.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year
0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,357,22.3,2192,137.0,3213,200.8,5405,337.8,2012
1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,299,18.7,1971,123.2,3878,242.4,5849,365.6,2012
2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,344,21.5,1965,122.8,3650,228.1,5615,350.9,2012
3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,435,27.2,2333,145.8,3473,217.1,5806,362.9,2012
4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,363,22.7,1761,110.1,3568,223.0,5329,333.1,2012

### Import 2012 Win/Loss Dataset

In [76]:
wl2012 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL2012_wl.csv')

In [77]:
wl2012.head()

   Unnamed: 0               Team  Wins  Losses  Tie Superbowl SB Win  Year
0           5  Arizona Cardinals     5      11    0        No     No  2012
1          30    Atlanta Falcons    13       3    0        No     No  2012
2          19   Baltimore Ravens    10       6    0       Yes    Yes  2012
3           7      Buffalo Bills     6      10    0        No     No  2012
4          10  Carolina Panthers     7       9    0        No     No  2012

### Drop unnamed column

In [78]:
wl2012 = wl2012.iloc[:, 1:]

In [79]:
wl2012.head(32)

                     Team  Wins  Losses  Tie Superbowl SB Win  Year
0       Arizona Cardinals     5      11    0        No     No  2012
1         Atlanta Falcons    13       3    0        No     No  2012
2        Baltimore Ravens    10       6    0       Yes    Yes  2012
3           Buffalo Bills     6      10    0        No     No  2012
4       Carolina Panthers     7       9    0        No     No  2012
5           Chicago Bears    10       6    0        No     No  2012
6      Cincinnati Bengals    10       6    0        No     No  2012
7        Cleveland Browns     5      11    0        No     No  2012
8          Dallas Cowboys     8       8    0        No     No  2012
9          Denver Broncos    13       3    0        No     No  2012
10          Detroit Lions     4      12    0        No     No  2012
11      Green Bay Packers    11       5    0        No     No  2012
12         Houston Texans    12       4    0        No     No  2012
13     Indianapolis Colts    11       5    0        No     No  2012
14   Jacksonville Jaguars     2      14    0        No     No  2012
15     Kansas City Chiefs     2      14    0        No     No  2012
16      Las Vegas Raiders     4      12    0        No     No  2012
17   Los Angeles Chargers     7       9    0      NoNo   NoNo  2012
18       Los Angeles Rams     7       8    1        No     No  2012
19         Miami Dolphins     7       9    0        No     No  2012
20      Minnesota Vikings    10       6    0        No     No  2012
21   New England Patriots    12       4    0        No     No  2012
22     New Orleans Saints     7       9    0        No     No  2012
23        New York Giants     9       7    0        No     No  2012
24          New York Jets     6      10    0        No     No  2012
25    Philadelphia Eagles     4      12    0        No     No  2012
26    Pittsburgh Steelers     8       8    0        No     No  2012
27    San Francisco 49ers    11       4    1       Yes     No  2012
28       Seattle Seahawks    11       5    0        No     No  2012
29   Tampa Bay Buccaneers     7       9    0        No     No  2012
30       Tennessee Titans     6      10    0        No     No  2012
31  Washington Commanders    10       6    0        No     No  2012

In [80]:
off_def2012.head(32)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year
0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,357,22.3,2192,137.0,3213,200.8,5405,337.8,2012
1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,299,18.7,1971,123.2,3878,242.4,5849,365.6,2012
2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,344,21.5,1965,122.8,3650,228.1,5615,350.9,2012
3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,435,27.2,2333,145.8,3473,217.1,5806,362.9,2012
4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,363,22.7,1761,110.1,3568,223.0,5329,333.1,2012
5,Chicago Bears,375,23.4,1970,123.1,2999,187.4,4969,310.6,277,17.3,1627,101.7,3423,213.9,5050,315.6,2012
6,Cincinnati Bengals,391,24.4,1745,109.1,3578,223.6,5323,332.7,320,20.0,1715,107.2,3400,212.5,5115,319.7,2012
7,Cleveland Browns,302,18.9,1593,99.6,3435,214.7,5028,314.2,368,23.0,1898,118.6,3923,245.2,5821,363.8,2012
8,Dallas Cowboys,376,23.5,1265,79.1,4729,295.6,5994,374.6,400,25.0,2003,125.2,3684,230.2,5687,355.4,2012
9,Denver Broncos,481,30.1,1832,114.5,4534,283.4,6366,397.9,289,18.1,1458,91.1,3194,199.6,4652,290.8,2012
10,Detroit Lions,372,23.2,1613,100.8,4927,307.9,6540,408.8,437,27.3,1889,118.1,3569,223.1,5458,341.1,2012
11,Green Bay Packers,433,27.1,1702,106.4,4049,253.1,5751,359.4,336,21.0,1896,118.5,3492,218.2,5388,336.8,2012
12,Houston Texans,416,26.0,2123,132.7,3830,239.4,5953,372.1,331,20.7,1560,97.5,3612,225.8,5172,323.2,2012
13,Indianapolis Colts,357,22.3,1671,104.4,4128,258.0,5799,362.4,387,24.2,2200,137.5,3788,236.8,5988,374.2,2012
14,Jacksonville Jaguars,255,15.9,1369,85.6,3419,213.7,4788,299.2,444,27.8,2256,141.0,3832,239.5,6088,380.5,2012
15,Kansas City Chiefs,211,13.2,2395,149.7,2713,169.6,5108,319.2,425,26.6,2171,135.7,3533,220.8,5704,356.5,2012
22,Las Vegas Raiders,290,18.1,1420,88.8,4084,255.2,5504,344.0,443,27.7,1897,118.6,3775,235.9,5672,354.5,2012
25,Los Angeles Chargers,350,21.9,1461,91.3,3295,205.9,4756,297.2,350,21.9,1542,96.4,3681,230.1,5223,326.4,2012
28,Los Angeles Rams,299,18.7,1714,107.1,3550,221.9,5264,329.0,348,21.8,1880,117.5,3602,225.1,5482,342.6,2012
16,Miami Dolphins,288,18.0,1802,112.6,3182,198.9,4984,311.5,317,19.8,1734,108.4,3974,248.4,5708,356.8,2012
17,Minnesota Vikings,379,23.7,2634,164.6,2751,171.9,5385,336.6,348,21.8,1692,105.8,3908,244.2,5600,350.0,2012
18,New England Patriots,557,34.8,2184,136.5,4662,291.4,6846,427.9,331,20.7,1630,101.9,4342,271.4,5972,373.2,2012
19,New Orleans Saints,461,28.8,1577,98.6,4997,312.3,6574,410.9,454,28.4,2361,147.6,4681,292.6,7042,440.1,2012
20,New York Giants,429,26.8,1862,116.4,3825,239.1,5687,355.4,344,21.5,2066,129.1,4068,254.2,6134,383.4,2012
21,New York Jets,281,17.6,1896,118.5,2891,180.7,4787,299.2,375,23.4,2138,133.6,3036,189.8,5174,323.4,2012
23,Philadelphia Eagles,280,17.5,1874,117.1,3791,236.9,5665,354.1,444,27.8,2021,126.3,3470,216.9,5491,343.2,2012
24,Pittsburgh Steelers,336,21.0,1537,96.1,3787,236.7,5324,332.8,314,19.6,1450,90.6,2963,185.2,4413,275.8,2012
26,San Francisco 49ers,397,24.8,2491,155.7,3298,206.1,5789,361.8,273,17.1,1507,94.2,3203,200.2,4710,294.4,2012
27,Seattle Seahawks,412,25.8,2579,161.2,3031,189.4,5610,350.6,245,15.3,1649,103.1,3250,203.1,4899,306.2,2012
29,Tampa Bay Buccaneers,389,24.3,1837,114.8,3983,248.9,5820,363.8,394,24.6,1320,82.5,4758,297.4,6078,379.9,2012
30,Tennessee Titans,330,20.6,1687,105.4,3323,207.7,5010,313.1,471,29.4,2035,127.2,3964,247.8,5999,374.9,2012
31,Washington Commanders,436,27.2,2709,169.3,3422,213.9,6131,383.2,388,24.2,1532,95.8,4511,281.9,6043,377.7,2012

### Merge 2012 off/def data with 2012 w/l/sb data

In [81]:
nfl2012 = pd.merge(off_def2012, wl2012, on=['Team', 'Year'])

In [82]:
nfl2012.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,357,...,3213,200.8,5405,337.8,2012,5,11,0,No,No
1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,299,...,3878,242.4,5849,365.6,2012,13,3,0,No,No
2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,344,...,3650,228.1,5615,350.9,2012,10,6,0,Yes,Yes
3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,435,...,3473,217.1,5806,362.9,2012,6,10,0,No,No
4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,363,...,3568,223.0,5329,333.1,2012,7,9,0,No,No

### Save Data for future use

In [83]:
nfl2012.to_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2012.csv')

## Import 2013 Offense & Defense Datasets

In [84]:
off2013 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_off_def/NFL2013_offense.csv')

In [85]:
def2013 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_off_def/NFL2013_defense.csv')

In [86]:
off2013.head()

,Unnamed: 0,Team,2013 Off Tot Pts,2013 Off Pts/G,2013 Off RushYds,2013 Off RYds/G,2013 Off PassYds,2013 Off PYds/G,2013 Off TotYds,2013 Off Yds/G
0,11,Arizona CardinalsArizona,379,23.7,1540,96.2,4002,250.1,5542,346.4
1,13,Atlanta FalconsAtlanta,353,22.1,1247,77.9,4243,265.2,5490,343.1
2,28,Baltimore RavensBaltimore,320,20.0,1328,83.0,3590,224.4,4918,307.4
3,18,Buffalo BillsBuffalo,339,21.2,2307,144.2,3103,193.9,5410,338.1
4,25,Carolina PanthersCarolina,366,22.9,2026,126.6,3043,190.2,5069,316.8

In [87]:
def2013.head()

,Unnamed: 0,Team,2013 Def Tot Pts,2013 Def Pts/G,2013 Def RushYds,2013 Def RYds/G,2013 Def PassYds,2013 Def PYds/G,2013 Def TotYds,2013 Def Yds/G
0,5,Arizona CardinalsArizona,324,20.2,1351,84.4,3728,233.0,5079,317.4
1,26,Atlanta FalconsAtlanta,443,27.7,2173,135.8,3897,243.6,6070,379.4
2,11,Baltimore RavensBaltimore,352,22.0,1687,105.4,3681,230.1,5368,335.5
3,9,Buffalo BillsBuffalo,388,24.2,2063,128.9,3271,204.4,5334,333.4
4,1,Carolina PanthersCarolina,241,15.1,1391,86.9,3429,214.3,4820,301.2

### Drop unnamed column in both datasets

In [88]:
off2013 = off2013.iloc[:, 1:]

In [89]:
off2013.head()

,Team,2013 Off Tot Pts,2013 Off Pts/G,2013 Off RushYds,2013 Off RYds/G,2013 Off PassYds,2013 Off PYds/G,2013 Off TotYds,2013 Off Yds/G
0,Arizona CardinalsArizona,379,23.7,1540,96.2,4002,250.1,5542,346.4
1,Atlanta FalconsAtlanta,353,22.1,1247,77.9,4243,265.2,5490,343.1
2,Baltimore RavensBaltimore,320,20.0,1328,83.0,3590,224.4,4918,307.4
3,Buffalo BillsBuffalo,339,21.2,2307,144.2,3103,193.9,5410,338.1
4,Carolina PanthersCarolina,366,22.9,2026,126.6,3043,190.2,5069,316.8

In [90]:
def2013 = def2013.iloc[:, 1:]

In [91]:
def2013.head()

,Team,2013 Def Tot Pts,2013 Def Pts/G,2013 Def RushYds,2013 Def RYds/G,2013 Def PassYds,2013 Def PYds/G,2013 Def TotYds,2013 Def Yds/G
0,Arizona CardinalsArizona,324,20.2,1351,84.4,3728,233.0,5079,317.4
1,Atlanta FalconsAtlanta,443,27.7,2173,135.8,3897,243.6,6070,379.4
2,Baltimore RavensBaltimore,352,22.0,1687,105.4,3681,230.1,5368,335.5
3,Buffalo BillsBuffalo,388,24.2,2063,128.9,3271,204.4,5334,333.4
4,Carolina PanthersCarolina,241,15.1,1391,86.9,3429,214.3,4820,301.2

### Rename Columns

In [92]:
offense2013 = off2013.rename(columns ={"2013 Off Tot Pts": "Off Tot/Pts", "2013 Off Pts/G": "Off Pts/G",
                                                     "2013 Off RushYds": "Off RushYds", "2013 Off RYds/G": "Off RYds/G",
                                                     "2013 Off PassYds": "Off PassYds", "2013 Off PYds/G": "Off PYds/G",
                                                     "2013 Off TotYds": "Off TotYds", "2013 Off Yds/G": "Off Yds/G"})

In [93]:
offense2013.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G
0,Arizona CardinalsArizona,379,23.7,1540,96.2,4002,250.1,5542,346.4
1,Atlanta FalconsAtlanta,353,22.1,1247,77.9,4243,265.2,5490,343.1
2,Baltimore RavensBaltimore,320,20.0,1328,83.0,3590,224.4,4918,307.4
3,Buffalo BillsBuffalo,339,21.2,2307,144.2,3103,193.9,5410,338.1
4,Carolina PanthersCarolina,366,22.9,2026,126.6,3043,190.2,5069,316.8

In [94]:
defense2013 = def2013.rename(columns ={"2013 Def Tot Pts": "Def Tot/Pts", "2013 Def Pts/G": "Def Pts/G",
                                                     "2013 Def RushYds": "Def RushYds", "2013 Def RYds/G": "Def RYds/G",
                                                     "2013 Def PassYds": "Def PassYds", "2013 Def PYds/G": "Def PYds/G",
                                                     "2013 Def TotYds": "Def TotYds", "2013 Def Yds/G": "Def Yds/G"})

In [95]:
defense2013.head()

,Team,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona CardinalsArizona,324,20.2,1351,84.4,3728,233.0,5079,317.4
1,Atlanta FalconsAtlanta,443,27.7,2173,135.8,3897,243.6,6070,379.4
2,Baltimore RavensBaltimore,352,22.0,1687,105.4,3681,230.1,5368,335.5
3,Buffalo BillsBuffalo,388,24.2,2063,128.9,3271,204.4,5334,333.4
4,Carolina PanthersCarolina,241,15.1,1391,86.9,3429,214.3,4820,301.2

### Merge 2013 Offense & Defense Data

In [96]:
off_def2013 = pd.merge(offense2013, defense2013, on='Team')

In [97]:
off_def2013.head(32)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona CardinalsArizona,379,23.7,1540,96.2,4002,250.1,5542,346.4,324,20.2,1351,84.4,3728,233.0,5079,317.4
1,Atlanta FalconsAtlanta,353,22.1,1247,77.9,4243,265.2,5490,343.1,443,27.7,2173,135.8,3897,243.6,6070,379.4
2,Baltimore RavensBaltimore,320,20.0,1328,83.0,3590,224.4,4918,307.4,352,22.0,1687,105.4,3681,230.1,5368,335.5
3,Buffalo BillsBuffalo,339,21.2,2307,144.2,3103,193.9,5410,338.1,388,24.2,2063,128.9,3271,204.4,5334,333.4
4,Carolina PanthersCarolina,366,22.9,2026,126.6,3043,190.2,5069,316.8,241,15.1,1391,86.9,3429,214.3,4820,301.2
5,Chicago BearsChicago,445,27.8,1828,114.2,4281,267.6,6109,381.8,478,29.9,2583,161.4,3730,233.1,6313,394.6
6,Cincinnati BengalsCincinnati,430,26.9,1755,109.7,4136,258.5,5891,368.2,305,19.1,1544,96.5,3344,209.0,4888,305.5
7,Cleveland BrownsCleveland,308,19.2,1383,86.4,4047,252.9,5430,339.4,406,25.4,1781,111.3,3538,221.1,5319,332.4
8,Dallas CowboysDallas,439,27.4,1504,94.0,3954,247.1,5458,341.1,432,27.0,2056,128.5,4589,286.8,6645,415.3
9,Denver BroncosDenver,606,37.9,1873,117.1,5444,340.2,7317,457.3,399,24.9,1626,101.6,4070,254.4,5696,356.0
10,Detroit LionsDetroit,395,24.7,1792,112.0,4482,280.1,6274,392.1,376,23.5,1596,99.8,3950,246.9,5546,346.6
11,Green Bay PackersGreen Bay,417,26.1,2136,133.5,4268,266.8,6404,400.2,428,26.8,2000,125.0,3956,247.2,5956,372.2
12,Houston TexansHouston,276,17.2,1743,108.9,3813,238.3,5556,347.2,428,26.8,1958,122.4,3123,195.2,5081,317.6
13,Indianapolis ColtsIndianapolis,391,24.4,1743,108.9,3725,232.8,5468,341.8,336,21.0,2002,125.1,3711,231.9,5713,357.1
14,Jacksonville JaguarsJacksonville,247,15.4,1260,78.8,3441,215.1,4701,293.8,449,28.1,2108,131.8,3962,247.6,6070,379.4
15,Kansas City ChiefsKansas City,430,26.9,2056,128.5,3340,208.8,5396,337.2,305,19.1,1923,120.2,3962,247.6,5885,367.8
16,Miami DolphinsMiami,317,19.8,1440,90.0,3567,222.9,5007,312.9,335,20.9,1998,124.9,3752,234.5,5750,359.4
17,Minnesota VikingsMinnesota,391,24.4,2081,130.1,3427,214.2,5508,344.2,480,30.0,1767,110.4,4595,287.2,6362,397.6
18,New England PatriotsNew England,444,27.8,2065,129.1,4087,255.4,6152,384.5,338,21.1,2145,134.1,3824,239.0,5969,373.1
19,New Orleans SaintsNew Orleans,414,25.9,1473,92.1,4918,307.4,6391,399.4,304,19.0,1786,111.6,3105,194.1,4891,305.7
20,New York GiantsNY Giants,294,18.4,1332,83.2,3588,224.2,4920,307.5,383,23.9,1743,108.9,3573,223.3,5316,332.2
21,New York JetsNY Jets,290,18.1,2158,134.9,2932,183.2,5090,318.1,387,24.2,1412,88.2,3947,246.7,5359,334.9
22,Oakland RaidersOakland,322,20.1,2000,125.0,3340,208.8,5340,333.8,453,28.3,1727,107.9,4092,255.8,5819,363.7
23,Philadelphia EaglesPhiladelphia,442,27.6,2566,160.4,4110,256.9,6676,417.2,382,23.9,1668,104.2,4636,289.8,6304,394.0
24,Pittsburgh SteelersPittsburgh,379,23.7,1383,86.4,4017,251.1,5400,337.5,370,23.1,1849,115.6,3553,222.1,5402,337.6
25,San Diego ChargersSan Diego,396,24.8,1965,122.8,4328,270.5,6293,393.3,348,21.8,1725,107.8,4139,258.7,5864,366.5
26,San Francisco 49ersSan Francisco,406,25.4,2201,137.6,2979,186.2,5180,323.8,272,17.0,1535,95.9,3536,221.0,5071,316.9
27,Seattle SeahawksSeattle,417,26.1,2188,136.8,3236,202.2,5424,339.0,231,14.4,1626,101.6,2752,172.0,4378,273.6
28,St. Louis RamsSt. Louis,348,21.8,1752,109.5,3125,195.3,4877,304.8,364,22.8,1646,102.9,3874,242.1,5520,345.0
29,Tampa Bay BuccaneersTampa Bay,288,18.0,1612,100.8,2820,176.2,4432,277.0,389,24.3,1762,110.1,3806,237.9,5568,348.0
30,Tennessee TitansTennessee,362,22.6,1894,118.4,3496,218.5,5390,336.9,381,23.8,1795,112.2,3612,225.8,5407,337.9
31,Washington RedskinsWashington,334,20.9,2164,135.2,3751,234.4,5915,369.7,478,29.9,1769,110.6,3896,243.5,5665,354.1

### Rename Teams to match incoming data

In [98]:
teamnames13 = {'Arizona CardinalsArizona': 'Arizona Cardinals', 'Atlanta FalconsAtlanta': 'Atlanta Falcons', 
             'Baltimore RavensBaltimore': 'Baltimore Ravens', 'Buffalo BillsBuffalo': 'Buffalo Bills',
            'Carolina PanthersCarolina': 'Carolina Panthers', 'Chicago BearsChicago': 'Chicago Bears',
            'Cincinnati BengalsCincinnati': 'Cincinnati Bengals', 'Cleveland BrownsCleveland': 'Cleveland Browns',
            'Dallas CowboysDallas': 'Dallas Cowboys', 'Denver BroncosDenver': 'Denver Broncos', 
             'Detroit LionsDetroit': 'Detroit Lions', 'Green Bay PackersGreen Bay': 'Green Bay Packers',
            'Houston TexansHouston': 'Houston Texans', 'Indianapolis ColtsIndianapolis': 'Indianapolis Colts',
            'Jacksonville JaguarsJacksonville': 'Jacksonville Jaguars', 'Kansas City ChiefsKansas City': 'Kansas City Chiefs',
            'Miami DolphinsMiami': 'Miami Dolphins', 'Minnesota VikingsMinnesota': 'Minnesota Vikings', 
            'New England PatriotsNew England': 'New England Patriots', 'New Orleans SaintsNew Orleans': 'New Orleans Saints',
            'New York GiantsNY Giants': 'New York Giants', 'New York JetsNY Jets': 'New York Jets', 
            'Oakland RaidersOakland': 'Las Vegas Raiders', 'Philadelphia EaglesPhiladelphia': 'Philadelphia Eagles',
            'Pittsburgh SteelersPittsburgh': 'Pittsburgh Steelers', 'San Diego ChargersSan Diego': 'Los Angeles Chargers',
            'San Francisco 49ersSan Francisco': 'San Francisco 49ers', 'Seattle SeahawksSeattle': 'Seattle Seahawks',
            'St. Louis RamsSt. Louis': 'Los Angeles Rams', 
            'Tampa Bay BuccaneersTampa Bay': 'Tampa Bay Buccaneers', 'Tennessee TitansTennessee': 'Tennessee Titans',
            'Washington RedskinsWashington': 'Washington Commanders'}
off_def2013['Team'] = off_def2013['Team'].replace(teamnames13)

In [99]:
off_def2013.head(32)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona Cardinals,379,23.7,1540,96.2,4002,250.1,5542,346.4,324,20.2,1351,84.4,3728,233.0,5079,317.4
1,Atlanta Falcons,353,22.1,1247,77.9,4243,265.2,5490,343.1,443,27.7,2173,135.8,3897,243.6,6070,379.4
2,Baltimore Ravens,320,20.0,1328,83.0,3590,224.4,4918,307.4,352,22.0,1687,105.4,3681,230.1,5368,335.5
3,Buffalo Bills,339,21.2,2307,144.2,3103,193.9,5410,338.1,388,24.2,2063,128.9,3271,204.4,5334,333.4
4,Carolina Panthers,366,22.9,2026,126.6,3043,190.2,5069,316.8,241,15.1,1391,86.9,3429,214.3,4820,301.2
5,Chicago Bears,445,27.8,1828,114.2,4281,267.6,6109,381.8,478,29.9,2583,161.4,3730,233.1,6313,394.6
6,Cincinnati Bengals,430,26.9,1755,109.7,4136,258.5,5891,368.2,305,19.1,1544,96.5,3344,209.0,4888,305.5
7,Cleveland Browns,308,19.2,1383,86.4,4047,252.9,5430,339.4,406,25.4,1781,111.3,3538,221.1,5319,332.4
8,Dallas Cowboys,439,27.4,1504,94.0,3954,247.1,5458,341.1,432,27.0,2056,128.5,4589,286.8,6645,415.3
9,Denver Broncos,606,37.9,1873,117.1,5444,340.2,7317,457.3,399,24.9,1626,101.6,4070,254.4,5696,356.0
10,Detroit Lions,395,24.7,1792,112.0,4482,280.1,6274,392.1,376,23.5,1596,99.8,3950,246.9,5546,346.6
11,Green Bay Packers,417,26.1,2136,133.5,4268,266.8,6404,400.2,428,26.8,2000,125.0,3956,247.2,5956,372.2
12,Houston Texans,276,17.2,1743,108.9,3813,238.3,5556,347.2,428,26.8,1958,122.4,3123,195.2,5081,317.6
13,Indianapolis Colts,391,24.4,1743,108.9,3725,232.8,5468,341.8,336,21.0,2002,125.1,3711,231.9,5713,357.1
14,Jacksonville Jaguars,247,15.4,1260,78.8,3441,215.1,4701,293.8,449,28.1,2108,131.8,3962,247.6,6070,379.4
15,Kansas City Chiefs,430,26.9,2056,128.5,3340,208.8,5396,337.2,305,19.1,1923,120.2,3962,247.6,5885,367.8
16,Miami Dolphins,317,19.8,1440,90.0,3567,222.9,5007,312.9,335,20.9,1998,124.9,3752,234.5,5750,359.4
17,Minnesota Vikings,391,24.4,2081,130.1,3427,214.2,5508,344.2,480,30.0,1767,110.4,4595,287.2,6362,397.6
18,New England Patriots,444,27.8,2065,129.1,4087,255.4,6152,384.5,338,21.1,2145,134.1,3824,239.0,5969,373.1
19,New Orleans Saints,414,25.9,1473,92.1,4918,307.4,6391,399.4,304,19.0,1786,111.6,3105,194.1,4891,305.7
20,New York Giants,294,18.4,1332,83.2,3588,224.2,4920,307.5,383,23.9,1743,108.9,3573,223.3,5316,332.2
21,New York Jets,290,18.1,2158,134.9,2932,183.2,5090,318.1,387,24.2,1412,88.2,3947,246.7,5359,334.9
22,Las Vegas Raiders,322,20.1,2000,125.0,3340,208.8,5340,333.8,453,28.3,1727,107.9,4092,255.8,5819,363.7
23,Philadelphia Eagles,442,27.6,2566,160.4,4110,256.9,6676,417.2,382,23.9,1668,104.2,4636,289.8,6304,394.0
24,Pittsburgh Steelers,379,23.7,1383,86.4,4017,251.1,5400,337.5,370,23.1,1849,115.6,3553,222.1,5402,337.6
25,Los Angeles Chargers,396,24.8,1965,122.8,4328,270.5,6293,393.3,348,21.8,1725,107.8,4139,258.7,5864,366.5
26,San Francisco 49ers,406,25.4,2201,137.6,2979,186.2,5180,323.8,272,17.0,1535,95.9,3536,221.0,5071,316.9
27,Seattle Seahawks,417,26.1,2188,136.8,3236,202.2,5424,339.0,231,14.4,1626,101.6,2752,172.0,4378,273.6
28,Los Angeles Rams,348,21.8,1752,109.5,3125,195.3,4877,304.8,364,22.8,1646,102.9,3874,242.1,5520,345.0
29,Tampa Bay Buccaneers,288,18.0,1612,100.8,2820,176.2,4432,277.0,389,24.3,1762,110.1,3806,237.9,5568,348.0
30,Tennessee Titans,362,22.6,1894,118.4,3496,218.5,5390,336.9,381,23.8,1795,112.2,3612,225.8,5407,337.9
31,Washington Commanders,334,20.9,2164,135.2,3751,234.4,5915,369.7,478,29.9,1769,110.6,3896,243.5,5665,354.1

### Put Dataset in Team Ascending Order

In [100]:
off_def2013 = off_def2013.sort_values("Team")

In [101]:
off_def2013.head(32)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona Cardinals,379,23.7,1540,96.2,4002,250.1,5542,346.4,324,20.2,1351,84.4,3728,233.0,5079,317.4
1,Atlanta Falcons,353,22.1,1247,77.9,4243,265.2,5490,343.1,443,27.7,2173,135.8,3897,243.6,6070,379.4
2,Baltimore Ravens,320,20.0,1328,83.0,3590,224.4,4918,307.4,352,22.0,1687,105.4,3681,230.1,5368,335.5
3,Buffalo Bills,339,21.2,2307,144.2,3103,193.9,5410,338.1,388,24.2,2063,128.9,3271,204.4,5334,333.4
4,Carolina Panthers,366,22.9,2026,126.6,3043,190.2,5069,316.8,241,15.1,1391,86.9,3429,214.3,4820,301.2
5,Chicago Bears,445,27.8,1828,114.2,4281,267.6,6109,381.8,478,29.9,2583,161.4,3730,233.1,6313,394.6
6,Cincinnati Bengals,430,26.9,1755,109.7,4136,258.5,5891,368.2,305,19.1,1544,96.5,3344,209.0,4888,305.5
7,Cleveland Browns,308,19.2,1383,86.4,4047,252.9,5430,339.4,406,25.4,1781,111.3,3538,221.1,5319,332.4
8,Dallas Cowboys,439,27.4,1504,94.0,3954,247.1,5458,341.1,432,27.0,2056,128.5,4589,286.8,6645,415.3
9,Denver Broncos,606,37.9,1873,117.1,5444,340.2,7317,457.3,399,24.9,1626,101.6,4070,254.4,5696,356.0
10,Detroit Lions,395,24.7,1792,112.0,4482,280.1,6274,392.1,376,23.5,1596,99.8,3950,246.9,5546,346.6
11,Green Bay Packers,417,26.1,2136,133.5,4268,266.8,6404,400.2,428,26.8,2000,125.0,3956,247.2,5956,372.2
12,Houston Texans,276,17.2,1743,108.9,3813,238.3,5556,347.2,428,26.8,1958,122.4,3123,195.2,5081,317.6
13,Indianapolis Colts,391,24.4,1743,108.9,3725,232.8,5468,341.8,336,21.0,2002,125.1,3711,231.9,5713,357.1
14,Jacksonville Jaguars,247,15.4,1260,78.8,3441,215.1,4701,293.8,449,28.1,2108,131.8,3962,247.6,6070,379.4
15,Kansas City Chiefs,430,26.9,2056,128.5,3340,208.8,5396,337.2,305,19.1,1923,120.2,3962,247.6,5885,367.8
22,Las Vegas Raiders,322,20.1,2000,125.0,3340,208.8,5340,333.8,453,28.3,1727,107.9,4092,255.8,5819,363.7
25,Los Angeles Chargers,396,24.8,1965,122.8,4328,270.5,6293,393.3,348,21.8,1725,107.8,4139,258.7,5864,366.5
28,Los Angeles Rams,348,21.8,1752,109.5,3125,195.3,4877,304.8,364,22.8,1646,102.9,3874,242.1,5520,345.0
16,Miami Dolphins,317,19.8,1440,90.0,3567,222.9,5007,312.9,335,20.9,1998,124.9,3752,234.5,5750,359.4
17,Minnesota Vikings,391,24.4,2081,130.1,3427,214.2,5508,344.2,480,30.0,1767,110.4,4595,287.2,6362,397.6
18,New England Patriots,444,27.8,2065,129.1,4087,255.4,6152,384.5,338,21.1,2145,134.1,3824,239.0,5969,373.1
19,New Orleans Saints,414,25.9,1473,92.1,4918,307.4,6391,399.4,304,19.0,1786,111.6,3105,194.1,4891,305.7
20,New York Giants,294,18.4,1332,83.2,3588,224.2,4920,307.5,383,23.9,1743,108.9,3573,223.3,5316,332.2
21,New York Jets,290,18.1,2158,134.9,2932,183.2,5090,318.1,387,24.2,1412,88.2,3947,246.7,5359,334.9
23,Philadelphia Eagles,442,27.6,2566,160.4,4110,256.9,6676,417.2,382,23.9,1668,104.2,4636,289.8,6304,394.0
24,Pittsburgh Steelers,379,23.7,1383,86.4,4017,251.1,5400,337.5,370,23.1,1849,115.6,3553,222.1,5402,337.6
26,San Francisco 49ers,406,25.4,2201,137.6,2979,186.2,5180,323.8,272,17.0,1535,95.9,3536,221.0,5071,316.9
27,Seattle Seahawks,417,26.1,2188,136.8,3236,202.2,5424,339.0,231,14.4,1626,101.6,2752,172.0,4378,273.6
29,Tampa Bay Buccaneers,288,18.0,1612,100.8,2820,176.2,4432,277.0,389,24.3,1762,110.1,3806,237.9,5568,348.0
30,Tennessee Titans,362,22.6,1894,118.4,3496,218.5,5390,336.9,381,23.8,1795,112.2,3612,225.8,5407,337.9
31,Washington Commanders,334,20.9,2164,135.2,3751,234.4,5915,369.7,478,29.9,1769,110.6,3896,243.5,5665,354.1

### Add year column

In [102]:
datayear13 = 2013
off_def2013['Year'] = datayear13

In [103]:
off_def2013.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year
0,Arizona Cardinals,379,23.7,1540,96.2,4002,250.1,5542,346.4,324,20.2,1351,84.4,3728,233.0,5079,317.4,2013
1,Atlanta Falcons,353,22.1,1247,77.9,4243,265.2,5490,343.1,443,27.7,2173,135.8,3897,243.6,6070,379.4,2013
2,Baltimore Ravens,320,20.0,1328,83.0,3590,224.4,4918,307.4,352,22.0,1687,105.4,3681,230.1,5368,335.5,2013
3,Buffalo Bills,339,21.2,2307,144.2,3103,193.9,5410,338.1,388,24.2,2063,128.9,3271,204.4,5334,333.4,2013
4,Carolina Panthers,366,22.9,2026,126.6,3043,190.2,5069,316.8,241,15.1,1391,86.9,3429,214.3,4820,301.2,2013

### Import 2013 Win/Loss Datset

In [104]:
wl2013 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_2013_wl.csv')

In [105]:
wl2013.head()

   Unnamed: 0               Team  Wins  Losses  Tie Superbowl SB Win
0          21  Arizona Cardinals    10       6    0        No     No
1           2    Atlanta Falcons     4      12    0        No     No
2          13   Baltimore Ravens     8       8    0        No     No
3           8      Buffalo Bills     6      10    0        No     No
4          27  Carolina Panthers    12       4    0        No     No

### Drop Unnamed Column

In [106]:
wl2013 = wl2013.iloc[:, 1:]

In [107]:
wl2013.head()

                Team  Wins  Losses  Tie Superbowl SB Win
0  Arizona Cardinals    10       6    0        No     No
1    Atlanta Falcons     4      12    0        No     No
2   Baltimore Ravens     8       8    0        No     No
3      Buffalo Bills     6      10    0        No     No
4  Carolina Panthers    12       4    0        No     No

### Add Year column

In [108]:
wl13 = 2013
wl2013['Year'] = wl13

In [109]:
wl2013.head()

                Team  Wins  Losses  Tie Superbowl SB Win  Year
0  Arizona Cardinals    10       6    0        No     No  2013
1    Atlanta Falcons     4      12    0        No     No  2013
2   Baltimore Ravens     8       8    0        No     No  2013
3      Buffalo Bills     6      10    0        No     No  2013
4  Carolina Panthers    12       4    0        No     No  2013

### Merge 2013 off/def data with 2013 w/l/sb data

In [110]:
nfl2013 = pd.merge(off_def2013, wl2013, on=['Team', 'Year'])

In [111]:
nfl2013.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,Arizona Cardinals,379,23.7,1540,96.2,4002,250.1,5542,346.4,324,...,3728,233.0,5079,317.4,2013,10,6,0,No,No
1,Atlanta Falcons,353,22.1,1247,77.9,4243,265.2,5490,343.1,443,...,3897,243.6,6070,379.4,2013,4,12,0,No,No
2,Baltimore Ravens,320,20.0,1328,83.0,3590,224.4,4918,307.4,352,...,3681,230.1,5368,335.5,2013,8,8,0,No,No
3,Buffalo Bills,339,21.2,2307,144.2,3103,193.9,5410,338.1,388,...,3271,204.4,5334,333.4,2013,6,10,0,No,No
4,Carolina Panthers,366,22.9,2026,126.6,3043,190.2,5069,316.8,241,...,3429,214.3,4820,301.2,2013,12,4,0,No,No

### Save Dataset to Mac for future use

In [112]:
nfl2013.to_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2013complete.csv')

## Merge 2012 & 2013 together

In [113]:
nfl2012_2013 = pd.concat([nfl2012, nfl2013], axis=0, join='outer', ignore_index='True')

In [114]:
nfl2012_2013.head(64)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,357,...,3213,200.8,5405,337.8,2012,5,11,0,No,No
1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,299,...,3878,242.4,5849,365.6,2012,13,3,0,No,No
2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,344,...,3650,228.1,5615,350.9,2012,10,6,0,Yes,Yes
3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,435,...,3473,217.1,5806,362.9,2012,6,10,0,No,No
4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,363,...,3568,223.0,5329,333.1,2012,7,9,0,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,San Francisco 49ers,406,25.4,2201,137.6,2979,186.2,5180,323.8,272,...,3536,221.0,5071,316.9,2013,12,4,0,No,No
60,Seattle Seahawks,417,26.1,2188,136.8,3236,202.2,5424,339.0,231,...,2752,172.0,4378,273.6,2013,13,3,0,Yes,Yes
61,Tampa Bay Buccaneers,288,18.0,1612,100.8,2820,176.2,4432,277.0,389,...,3806,237.9,5568,348.0,2013,4,12,0,No,No
62,Tennessee Titans,362,22.6,1894,118.4,3496,218.5,5390,336.9,381,...,3612,225.8,5407,337.9,2013,7,9,0,No,No
63,Washington Commanders,334,20.9,2164,135.2,3751,234.4,5915,369.7,478,...,3896,243.5,5665,354.1,2013,3,13,0,No,No

### Save Dataset to Mac for future use

In [115]:
nfl2012_2013.to_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2012_2013merge.csv')

## Import 2014 Offense & Defense Data

In [116]:
off2014 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_off_def/NFL2014_offense.csv')

In [117]:
def2014 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_off_def/NFL2014_defense.csv')

In [118]:
off2014.head()

,Unnamed: 0,Team,2014 Off Tot Pts,2014 Off Pts/G,2014 Off RushYds,2014 Off RYds/G,2014 Off PassYds,2014 Off PYds/G,2014 Off TotYds,2014 Off Yds/G
0,23,Arizona CardinalsArizona,310,19.4,1308,81.8,3808,238.0,5116,319.8
1,7,Atlanta FalconsAtlanta,381,23.8,1498,93.6,4553,284.6,6051,378.2
2,11,Baltimore RavensBaltimore,409,25.6,2019,126.2,3819,238.7,5838,364.9
3,25,Buffalo BillsBuffalo,343,21.4,1482,92.6,3614,225.9,5096,318.5
4,15,Carolina PanthersCarolina,339,21.2,2036,127.2,3511,219.4,5547,346.7

In [119]:
def2014.head()

,Unnamed: 0,Team,2014 Def Tot Pts,2014 Def Pts/G,2014 Def RushYds,2014 Def RYds/G,2014 Def PassYds,2014 Def PYds/G,2014 Def TotYds,2014 Def Yds/G
0,23,Arizona CardinalsArizona,299,18.7,1739,108.7,4152,259.5,5891,368.2
1,31,Atlanta FalconsAtlanta,417,26.1,1894,118.4,4478,279.9,6372,398.2
2,7,Baltimore RavensBaltimore,302,18.9,1412,88.2,3979,248.7,5391,336.9
3,3,Buffalo BillsBuffalo,289,18.1,1703,106.4,3292,205.8,4995,312.2
4,9,Carolina PanthersCarolina,374,23.4,1792,112.0,3645,227.8,5437,339.8

### Drop unnamed column in both datasets

In [120]:
off2014 = off2014.iloc[:, 1:]

In [121]:
off2014.head()

,Team,2014 Off Tot Pts,2014 Off Pts/G,2014 Off RushYds,2014 Off RYds/G,2014 Off PassYds,2014 Off PYds/G,2014 Off TotYds,2014 Off Yds/G
0,Arizona CardinalsArizona,310,19.4,1308,81.8,3808,238.0,5116,319.8
1,Atlanta FalconsAtlanta,381,23.8,1498,93.6,4553,284.6,6051,378.2
2,Baltimore RavensBaltimore,409,25.6,2019,126.2,3819,238.7,5838,364.9
3,Buffalo BillsBuffalo,343,21.4,1482,92.6,3614,225.9,5096,318.5
4,Carolina PanthersCarolina,339,21.2,2036,127.2,3511,219.4,5547,346.7

In [122]:
def2014 = def2014.iloc[:, 1:]

In [123]:
def2014.head()

,Team,2014 Def Tot Pts,2014 Def Pts/G,2014 Def RushYds,2014 Def RYds/G,2014 Def PassYds,2014 Def PYds/G,2014 Def TotYds,2014 Def Yds/G
0,Arizona CardinalsArizona,299,18.7,1739,108.7,4152,259.5,5891,368.2
1,Atlanta FalconsAtlanta,417,26.1,1894,118.4,4478,279.9,6372,398.2
2,Baltimore RavensBaltimore,302,18.9,1412,88.2,3979,248.7,5391,336.9
3,Buffalo BillsBuffalo,289,18.1,1703,106.4,3292,205.8,4995,312.2
4,Carolina PanthersCarolina,374,23.4,1792,112.0,3645,227.8,5437,339.8

### Rename Columns

In [124]:
offense2014 = off2014.rename(columns ={"2014 Off Tot Pts": "Off Tot/Pts", "2014 Off Pts/G": "Off Pts/G",
                                                     "2014 Off RushYds": "Off RushYds", "2014 Off RYds/G": "Off RYds/G",
                                                     "2014 Off PassYds": "Off PassYds", "2014 Off PYds/G": "Off PYds/G",
                                                     "2014 Off TotYds": "Off TotYds", "2014 Off Yds/G": "Off Yds/G"})

In [125]:
offense2014.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G
0,Arizona CardinalsArizona,310,19.4,1308,81.8,3808,238.0,5116,319.8
1,Atlanta FalconsAtlanta,381,23.8,1498,93.6,4553,284.6,6051,378.2
2,Baltimore RavensBaltimore,409,25.6,2019,126.2,3819,238.7,5838,364.9
3,Buffalo BillsBuffalo,343,21.4,1482,92.6,3614,225.9,5096,318.5
4,Carolina PanthersCarolina,339,21.2,2036,127.2,3511,219.4,5547,346.7

In [126]:
defense2014 = def2014.rename(columns ={"2014 Def Tot Pts": "Def Tot/Pts", "2014 Def Pts/G": "Def Pts/G",
                                                     "2014 Def RushYds": "Def RushYds", "2014 Def RYds/G": "Def RYds/G",
                                                     "2014 Def PassYds": "Def PassYds", "2014 Def PYds/G": "Def PYds/G",
                                                     "2014 Def TotYds": "Def TotYds", "2014 Def Yds/G": "Def Yds/G"})

In [127]:
defense2014.head()

,Team,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona CardinalsArizona,299,18.7,1739,108.7,4152,259.5,5891,368.2
1,Atlanta FalconsAtlanta,417,26.1,1894,118.4,4478,279.9,6372,398.2
2,Baltimore RavensBaltimore,302,18.9,1412,88.2,3979,248.7,5391,336.9
3,Buffalo BillsBuffalo,289,18.1,1703,106.4,3292,205.8,4995,312.2
4,Carolina PanthersCarolina,374,23.4,1792,112.0,3645,227.8,5437,339.8

### Merge 2014 Offense & Defense Data

In [128]:
off_def2014 = pd.merge(offense2014, defense2014, on='Team')

In [129]:
off_def2014.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona CardinalsArizona,310,19.4,1308,81.8,3808,238.0,5116,319.8,299,18.7,1739,108.7,4152,259.5,5891,368.2
1,Atlanta FalconsAtlanta,381,23.8,1498,93.6,4553,284.6,6051,378.2,417,26.1,1894,118.4,4478,279.9,6372,398.2
2,Baltimore RavensBaltimore,409,25.6,2019,126.2,3819,238.7,5838,364.9,302,18.9,1412,88.2,3979,248.7,5391,336.9
3,Buffalo BillsBuffalo,343,21.4,1482,92.6,3614,225.9,5096,318.5,289,18.1,1703,106.4,3292,205.8,4995,312.2
4,Carolina PanthersCarolina,339,21.2,2036,127.2,3511,219.4,5547,346.7,374,23.4,1792,112.0,3645,227.8,5437,339.8

### Rename Teams to match incoming data

In [130]:
teamnames14 = {'Arizona CardinalsArizona': 'Arizona Cardinals', 'Atlanta FalconsAtlanta': 'Atlanta Falcons', 
             'Baltimore RavensBaltimore': 'Baltimore Ravens', 'Buffalo BillsBuffalo': 'Buffalo Bills',
            'Carolina PanthersCarolina': 'Carolina Panthers', 'Chicago BearsChicago': 'Chicago Bears',
            'Cincinnati BengalsCincinnati': 'Cincinnati Bengals', 'Cleveland BrownsCleveland': 'Cleveland Browns',
            'Dallas CowboysDallas': 'Dallas Cowboys', 'Denver BroncosDenver': 'Denver Broncos', 
             'Detroit LionsDetroit': 'Detroit Lions', 'Green Bay PackersGreen Bay': 'Green Bay Packers',
            'Houston TexansHouston': 'Houston Texans', 'Indianapolis ColtsIndianapolis': 'Indianapolis Colts',
            'Jacksonville JaguarsJacksonville': 'Jacksonville Jaguars', 'Kansas City ChiefsKansas City': 'Kansas City Chiefs',
            'Miami DolphinsMiami': 'Miami Dolphins', 'Minnesota VikingsMinnesota': 'Minnesota Vikings', 
            'New England PatriotsNew England': 'New England Patriots', 'New Orleans SaintsNew Orleans': 'New Orleans Saints',
            'New York GiantsNY Giants': 'New York Giants', 'New York JetsNY Jets': 'New York Jets', 
            'Oakland RaidersOakland': 'Las Vegas Raiders', 'Philadelphia EaglesPhiladelphia': 'Philadelphia Eagles',
            'Pittsburgh SteelersPittsburgh': 'Pittsburgh Steelers', 'San Diego ChargersSan Diego': 'Los Angeles Chargers',
            'San Francisco 49ersSan Francisco': 'San Francisco 49ers', 'Seattle SeahawksSeattle': 'Seattle Seahawks',
            'St. Louis RamsSt. Louis': 'Los Angeles Rams', 
            'Tampa Bay BuccaneersTampa Bay': 'Tampa Bay Buccaneers', 'Tennessee TitansTennessee': 'Tennessee Titans',
            'Washington RedskinsWashington': 'Washington Commanders'}
off_def2014['Team'] = off_def2014['Team'].replace(teamnames14)

In [131]:
off_def2014.head(32)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona Cardinals,310,19.4,1308,81.8,3808,238.0,5116,319.8,299,18.7,1739,108.7,4152,259.5,5891,368.2
1,Atlanta Falcons,381,23.8,1498,93.6,4553,284.6,6051,378.2,417,26.1,1894,118.4,4478,279.9,6372,398.2
2,Baltimore Ravens,409,25.6,2019,126.2,3819,238.7,5838,364.9,302,18.9,1412,88.2,3979,248.7,5391,336.9
3,Buffalo Bills,343,21.4,1482,92.6,3614,225.9,5096,318.5,289,18.1,1703,106.4,3292,205.8,4995,312.2
4,Carolina Panthers,339,21.2,2036,127.2,3511,219.4,5547,346.7,374,23.4,1792,112.0,3645,227.8,5437,339.8
5,Chicago Bears,319,19.9,1441,90.1,3792,237.0,5233,327.1,442,27.6,1803,112.7,4230,264.4,6033,377.1
6,Cincinnati Bengals,365,22.8,2147,134.2,3421,213.8,5568,348.0,344,21.5,1861,116.3,3888,243.0,5749,359.3
7,Cleveland Browns,299,18.7,1728,108.0,3465,216.6,5193,324.6,337,21.1,2265,141.6,3592,224.5,5857,366.1
8,Dallas Cowboys,467,29.2,2354,147.1,3784,236.5,6138,383.6,352,22.0,1650,103.1,4031,251.9,5681,355.1
9,Denver Broncos,482,30.1,1785,111.6,4661,291.3,6446,402.9,354,22.1,1276,79.8,3607,225.4,4883,305.2
10,Detroit Lions,321,20.1,1422,88.9,4030,251.9,5452,340.8,282,17.6,1109,69.3,3706,231.6,4815,300.9
11,Green Bay Packers,486,30.4,1917,119.8,4261,266.3,6178,386.1,348,21.8,1919,119.9,3623,226.4,5542,346.4
12,Houston Texans,372,23.2,2161,135.1,3352,209.5,5513,344.6,307,19.2,1681,105.1,3890,243.1,5571,348.2
13,Indianapolis Colts,458,28.6,1612,100.8,4894,305.9,6506,406.6,369,23.1,1814,113.4,3669,229.3,5483,342.7
14,Jacksonville Jaguars,249,15.6,1633,102.1,3001,187.6,4634,289.6,412,25.8,2033,127.1,3899,243.7,5932,370.8
15,Kansas City Chiefs,353,22.1,1918,119.9,3182,198.9,5100,318.8,281,17.6,2036,127.2,3252,203.2,5288,330.5
16,Miami Dolphins,388,24.2,1872,117.0,3729,233.1,5601,350.1,373,23.3,1937,121.1,3557,222.3,5494,343.4
17,Minnesota Vikings,325,20.3,1804,112.8,3244,202.8,5048,315.5,343,21.4,1943,121.4,3572,223.2,5515,344.7
18,New England Patriots,468,29.2,1727,107.9,4121,257.6,5848,365.5,313,19.6,1669,104.3,3837,239.8,5506,344.1
19,New Orleans Saints,401,25.1,1818,113.6,4764,297.8,6582,411.4,424,26.5,2125,132.8,4019,251.2,6144,384.0
20,New York Giants,380,23.8,1603,100.2,4272,267.0,5875,367.2,400,25.0,2162,135.1,3850,240.6,6012,375.8
21,New York Jets,283,17.7,2280,142.5,2946,184.1,5226,326.6,401,25.1,1489,93.1,3746,234.1,5235,327.2
22,Las Vegas Raiders,253,15.8,1240,77.5,3275,204.7,4515,282.2,452,28.2,1911,119.4,3810,238.1,5721,357.6
23,Philadelphia Eagles,474,29.6,1992,124.5,4356,272.2,6348,396.8,400,25.0,1771,110.7,4238,264.9,6009,375.6
24,Pittsburgh Steelers,436,27.2,1752,109.5,4825,301.6,6577,411.1,368,23.0,1605,100.3,4049,253.1,5654,353.4
25,Los Angeles Chargers,348,21.8,1367,85.4,4098,256.1,5465,341.6,348,21.8,1986,124.1,3427,214.2,5413,338.3
26,San Francisco 49ers,306,19.1,2176,136.0,3063,191.4,5239,327.4,340,21.2,1612,100.8,3531,220.7,5143,321.4
27,Seattle Seahawks,394,24.6,2762,172.6,3250,203.1,6012,375.8,254,15.9,1304,81.5,2970,185.6,4274,267.1
28,Los Angeles Rams,324,20.2,1635,102.2,3400,212.5,5035,314.7,354,22.1,1765,110.3,3861,241.3,5626,351.6
29,Tampa Bay Buccaneers,277,17.3,1375,85.9,3297,206.1,4672,292.0,410,25.6,1819,113.7,4084,255.2,5903,368.9
30,Tennessee Titans,254,15.9,1447,90.4,3412,213.2,4859,303.7,438,27.4,2195,137.2,3773,235.8,5968,373.0
31,Washington Commanders,301,18.8,1691,105.7,4047,252.9,5738,358.6,438,27.4,1722,107.6,3990,249.4,5712,357.0

### Put Dataset in Team Ascending Order

In [132]:
off_def2014 = off_def2014.sort_values("Team")

In [133]:
off_def2014.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona Cardinals,310,19.4,1308,81.8,3808,238.0,5116,319.8,299,18.7,1739,108.7,4152,259.5,5891,368.2
1,Atlanta Falcons,381,23.8,1498,93.6,4553,284.6,6051,378.2,417,26.1,1894,118.4,4478,279.9,6372,398.2
2,Baltimore Ravens,409,25.6,2019,126.2,3819,238.7,5838,364.9,302,18.9,1412,88.2,3979,248.7,5391,336.9
3,Buffalo Bills,343,21.4,1482,92.6,3614,225.9,5096,318.5,289,18.1,1703,106.4,3292,205.8,4995,312.2
4,Carolina Panthers,339,21.2,2036,127.2,3511,219.4,5547,346.7,374,23.4,1792,112.0,3645,227.8,5437,339.8

In [134]:
off_def2014.tail(16)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
22,Las Vegas Raiders,253,15.8,1240,77.5,3275,204.7,4515,282.2,452,28.2,1911,119.4,3810,238.1,5721,357.6
25,Los Angeles Chargers,348,21.8,1367,85.4,4098,256.1,5465,341.6,348,21.8,1986,124.1,3427,214.2,5413,338.3
28,Los Angeles Rams,324,20.2,1635,102.2,3400,212.5,5035,314.7,354,22.1,1765,110.3,3861,241.3,5626,351.6
16,Miami Dolphins,388,24.2,1872,117.0,3729,233.1,5601,350.1,373,23.3,1937,121.1,3557,222.3,5494,343.4
17,Minnesota Vikings,325,20.3,1804,112.8,3244,202.8,5048,315.5,343,21.4,1943,121.4,3572,223.2,5515,344.7
18,New England Patriots,468,29.2,1727,107.9,4121,257.6,5848,365.5,313,19.6,1669,104.3,3837,239.8,5506,344.1
19,New Orleans Saints,401,25.1,1818,113.6,4764,297.8,6582,411.4,424,26.5,2125,132.8,4019,251.2,6144,384.0
20,New York Giants,380,23.8,1603,100.2,4272,267.0,5875,367.2,400,25.0,2162,135.1,3850,240.6,6012,375.8
21,New York Jets,283,17.7,2280,142.5,2946,184.1,5226,326.6,401,25.1,1489,93.1,3746,234.1,5235,327.2
23,Philadelphia Eagles,474,29.6,1992,124.5,4356,272.2,6348,396.8,400,25.0,1771,110.7,4238,264.9,6009,375.6
24,Pittsburgh Steelers,436,27.2,1752,109.5,4825,301.6,6577,411.1,368,23.0,1605,100.3,4049,253.1,5654,353.4
26,San Francisco 49ers,306,19.1,2176,136.0,3063,191.4,5239,327.4,340,21.2,1612,100.8,3531,220.7,5143,321.4
27,Seattle Seahawks,394,24.6,2762,172.6,3250,203.1,6012,375.8,254,15.9,1304,81.5,2970,185.6,4274,267.1
29,Tampa Bay Buccaneers,277,17.3,1375,85.9,3297,206.1,4672,292.0,410,25.6,1819,113.7,4084,255.2,5903,368.9
30,Tennessee Titans,254,15.9,1447,90.4,3412,213.2,4859,303.7,438,27.4,2195,137.2,3773,235.8,5968,373.0
31,Washington Commanders,301,18.8,1691,105.7,4047,252.9,5738,358.6,438,27.4,1722,107.6,3990,249.4,5712,357.0

## Import 2014 Win/Loss Dataset

In [135]:
wl2014 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_2014_wl.csv')

In [136]:
wl2014.head()

   Unnamed: 0               Team  Wins  Losses  Tie Superbowl SB Win  Year
0          23  Arizona Cardinals    11       5    0        No     No  2014
1           7    Atlanta Falcons     6      10    0        No     No  2014
2          20   Baltimore Ravens    10       6    0        No     No  2014
3          16      Buffalo Bills     9       7    0        No     No  2014
4          10  Carolina Panthers     7       8    1        No     No  2014

### Drop unnamed column

In [137]:
wl2014 = wl2014.iloc[:, 1:]

In [138]:
wl2014.head()

                Team  Wins  Losses  Tie Superbowl SB Win  Year
0  Arizona Cardinals    11       5    0        No     No  2014
1    Atlanta Falcons     6      10    0        No     No  2014
2   Baltimore Ravens    10       6    0        No     No  2014
3      Buffalo Bills     9       7    0        No     No  2014
4  Carolina Panthers     7       8    1        No     No  2014

### Merge 2014 off/def data with w/l/sb data

In [139]:
nfl2014 = pd.merge(off_def2014, wl2014, on="Team")

In [140]:
nfl2014.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Wins,Losses,Tie,Superbowl,SB Win,Year
0,Arizona Cardinals,310,19.4,1308,81.8,3808,238.0,5116,319.8,299,...,4152,259.5,5891,368.2,11,5,0,No,No,2014
1,Atlanta Falcons,381,23.8,1498,93.6,4553,284.6,6051,378.2,417,...,4478,279.9,6372,398.2,6,10,0,No,No,2014
2,Baltimore Ravens,409,25.6,2019,126.2,3819,238.7,5838,364.9,302,...,3979,248.7,5391,336.9,10,6,0,No,No,2014
3,Buffalo Bills,343,21.4,1482,92.6,3614,225.9,5096,318.5,289,...,3292,205.8,4995,312.2,9,7,0,No,No,2014
4,Carolina Panthers,339,21.2,2036,127.2,3511,219.4,5547,346.7,374,...,3645,227.8,5437,339.8,7,8,1,No,No,2014

### Save Dataset to Mac for future use

In [141]:
nfl2014.to_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2014complete.csv')

### Merge 2012-2014 Data

In [143]:
nfl2012_2014 = pd.concat([nfl2012_2013, nfl2014], axis=0, join='outer', ignore_index='True')

In [144]:
nfl2012_2014.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,357,...,3213,200.8,5405,337.8,2012,5,11,0,No,No
1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,299,...,3878,242.4,5849,365.6,2012,13,3,0,No,No
2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,344,...,3650,228.1,5615,350.9,2012,10,6,0,Yes,Yes
3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,435,...,3473,217.1,5806,362.9,2012,6,10,0,No,No
4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,363,...,3568,223.0,5329,333.1,2012,7,9,0,No,No

In [145]:
nfl2012_2014.tail()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
91,San Francisco 49ers,306,19.1,2176,136.0,3063,191.4,5239,327.4,340,...,3531,220.7,5143,321.4,2014,8,8,0,No,No
92,Seattle Seahawks,394,24.6,2762,172.6,3250,203.1,6012,375.8,254,...,2970,185.6,4274,267.1,2014,12,4,0,Yes,No
93,Tampa Bay Buccaneers,277,17.3,1375,85.9,3297,206.1,4672,292.0,410,...,4084,255.2,5903,368.9,2014,2,14,0,No,No
94,Tennessee Titans,254,15.9,1447,90.4,3412,213.2,4859,303.7,438,...,3773,235.8,5968,373.0,2014,2,14,0,No,No
95,Washington Commanders,301,18.8,1691,105.7,4047,252.9,5738,358.6,438,...,3990,249.4,5712,357.0,2014,4,12,0,No,No

### Save Dataset for future use

In [146]:
nfl2012_2014.to_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2012_2014merge.csv')