# Merge Years 2012-2021

### Import pandas package

In [1]:
import pandas as pd

## Import all datasets needed for merge

In [26]:
nfl2012_2020 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2012_2020merge.csv')
off2021 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_off_def/NFL2021_offense.csv')
def2021 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_off_def/NFL2021_defense.csv')
wl2021 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_2021_wl.csv')

In [27]:
nfl2012_2020.head()

,Unnamed: 0,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,...,3213,200.8,5405,337.8,2012,5,11,0,No,No
1,1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,...,3878,242.4,5849,365.6,2012,13,3,0,No,No
2,2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,...,3650,228.1,5615,350.9,2012,10,6,0,Yes,Yes
3,3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,...,3473,217.1,5806,362.9,2012,6,10,0,No,No
4,4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,...,3568,223.0,5329,333.1,2012,7,9,0,No,No

In [28]:
off2021.head()

,Unnamed: 0,Team,Tot/Pts,2021 Off Pts/G,2021 Off RushYds,2021 Off RYds/G,2021 Off PassYds,2021 Off PYds/G,2021 Off TotYds,2021 Off Yds/G
0,7,Arizona CardinalsArizona,449,26.4,2076,122.1,4276,251.5,6352,373.6
1,28,Atlanta FalconsAtlanta,313,18.4,1451,85.4,3713,218.4,5164,303.8
2,5,Baltimore RavensBaltimore,387,22.8,2479,145.8,3961,233.0,6440,378.8
3,4,Buffalo BillsBuffalo,483,28.4,2209,129.9,4284,252.0,6493,381.9
4,29,Carolina PanthersCarolina,304,17.9,1842,108.4,3239,190.5,5081,298.9

In [29]:
def2021.head()

,Unnamed: 0,Team,2021 Def Tot/Pts,2021 Def Pts/G,2021 Def RushYds,2021 Def RYds/G,2021 Def PassYds,2021 Def PYds/G,2021 Def TotYds,2021 Def Yds/G
0,10,Arizona CardinalsArizona,366,21.5,1952,114.8,3645,214.4,5597,329.2
1,25,Atlanta FalconsAtlanta,459,27.0,2242,131.9,3952,232.5,6194,364.4
2,24,Baltimore RavensBaltimore,392,23.1,1436,84.5,4742,278.9,6178,363.4
3,0,Buffalo BillsBuffalo,289,17.0,1866,109.8,2771,163.0,4637,272.8
4,1,Carolina PanthersCarolina,404,23.8,1935,113.8,3266,192.1,5201,305.9

In [30]:
wl2021.head()

   Unnamed: 0               Team  Wins  Losses  Tie  Year Superbowl SB Win
0          24  Arizona Cardinals    11       6    0  2021        No     No
1           7    Atlanta Falcons     7      10    0  2021        No     No
2          11   Baltimore Ravens     8       9    0  2021        No     No
3          25      Buffalo Bills    11       6    0  2021        No     No
4           5  Carolina Panthers     5      12    0  2021        No     No

### Drop unnamed column from all datasets

In [31]:
nfl2012_2020 = nfl2012_2020.iloc[:, 1:]
off2021 = off2021.iloc[:, 1:]
def2021 = def2021.iloc[:, 1:]
wl2021 = wl2021.iloc[:, 1:]

In [32]:
nfl2012_2020.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,357,...,3213,200.8,5405,337.8,2012,5,11,0,No,No
1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,299,...,3878,242.4,5849,365.6,2012,13,3,0,No,No
2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,344,...,3650,228.1,5615,350.9,2012,10,6,0,Yes,Yes
3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,435,...,3473,217.1,5806,362.9,2012,6,10,0,No,No
4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,363,...,3568,223.0,5329,333.1,2012,7,9,0,No,No

In [33]:
off2021.head()

,Team,Tot/Pts,2021 Off Pts/G,2021 Off RushYds,2021 Off RYds/G,2021 Off PassYds,2021 Off PYds/G,2021 Off TotYds,2021 Off Yds/G
0,Arizona CardinalsArizona,449,26.4,2076,122.1,4276,251.5,6352,373.6
1,Atlanta FalconsAtlanta,313,18.4,1451,85.4,3713,218.4,5164,303.8
2,Baltimore RavensBaltimore,387,22.8,2479,145.8,3961,233.0,6440,378.8
3,Buffalo BillsBuffalo,483,28.4,2209,129.9,4284,252.0,6493,381.9
4,Carolina PanthersCarolina,304,17.9,1842,108.4,3239,190.5,5081,298.9

In [34]:
def2021.head()

,Team,2021 Def Tot/Pts,2021 Def Pts/G,2021 Def RushYds,2021 Def RYds/G,2021 Def PassYds,2021 Def PYds/G,2021 Def TotYds,2021 Def Yds/G
0,Arizona CardinalsArizona,366,21.5,1952,114.8,3645,214.4,5597,329.2
1,Atlanta FalconsAtlanta,459,27.0,2242,131.9,3952,232.5,6194,364.4
2,Baltimore RavensBaltimore,392,23.1,1436,84.5,4742,278.9,6178,363.4
3,Buffalo BillsBuffalo,289,17.0,1866,109.8,2771,163.0,4637,272.8
4,Carolina PanthersCarolina,404,23.8,1935,113.8,3266,192.1,5201,305.9

In [35]:
wl2021.head()

                Team  Wins  Losses  Tie  Year Superbowl SB Win
0  Arizona Cardinals    11       6    0  2021        No     No
1    Atlanta Falcons     7      10    0  2021        No     No
2   Baltimore Ravens     8       9    0  2021        No     No
3      Buffalo Bills    11       6    0  2021        No     No
4  Carolina Panthers     5      12    0  2021        No     No

### Rename columns in off/def dataset

In [36]:
offense2021 = off2021.rename(columns ={"Tot/Pts": "Off Tot/Pts", "2021 Off Pts/G": "Off Pts/G",
                                                     "2021 Off RushYds": "Off RushYds", "2021 Off RYds/G": "Off RYds/G",
                                                     "2021 Off PassYds": "Off PassYds", "2021 Off PYds/G": "Off PYds/G",
                                                     "2021 Off TotYds": "Off TotYds", "2021 Off Yds/G": "Off Yds/G"})
defense2021 = def2021.rename(columns ={"2021 Def Tot/Pts": "Def Tot/Pts", "2021 Def Pts/G": "Def Pts/G",
                                                     "2021 Def RushYds": "Def RushYds", "2021 Def RYds/G": "Def RYds/G",
                                                     "2021 Def PassYds": "Def PassYds", "2021 Def PYds/G": "Def PYds/G",
                                                     "2021 Def TotYds": "Def TotYds", "2021 Def Yds/G": "Def Yds/G"})

In [37]:
offense2021.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G
0,Arizona CardinalsArizona,449,26.4,2076,122.1,4276,251.5,6352,373.6
1,Atlanta FalconsAtlanta,313,18.4,1451,85.4,3713,218.4,5164,303.8
2,Baltimore RavensBaltimore,387,22.8,2479,145.8,3961,233.0,6440,378.8
3,Buffalo BillsBuffalo,483,28.4,2209,129.9,4284,252.0,6493,381.9
4,Carolina PanthersCarolina,304,17.9,1842,108.4,3239,190.5,5081,298.9

In [38]:
defense2021.head()

,Team,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona CardinalsArizona,366,21.5,1952,114.8,3645,214.4,5597,329.2
1,Atlanta FalconsAtlanta,459,27.0,2242,131.9,3952,232.5,6194,364.4
2,Baltimore RavensBaltimore,392,23.1,1436,84.5,4742,278.9,6178,363.4
3,Buffalo BillsBuffalo,289,17.0,1866,109.8,2771,163.0,4637,272.8
4,Carolina PanthersCarolina,404,23.8,1935,113.8,3266,192.1,5201,305.9

### Merge Offense and Defense Data

In [39]:
off_def2021 = pd.merge(offense2021, defense2021, on='Team')

In [41]:
off_def2021.head(32)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona CardinalsArizona,449,26.4,2076,122.1,4276,251.5,6352,373.6,366,21.5,1952,114.8,3645,214.4,5597,329.2
1,Atlanta FalconsAtlanta,313,18.4,1451,85.4,3713,218.4,5164,303.8,459,27.0,2242,131.9,3952,232.5,6194,364.4
2,Baltimore RavensBaltimore,387,22.8,2479,145.8,3961,233.0,6440,378.8,392,23.1,1436,84.5,4742,278.9,6178,363.4
3,Buffalo BillsBuffalo,483,28.4,2209,129.9,4284,252.0,6493,381.9,289,17.0,1866,109.8,2771,163.0,4637,272.8
4,Carolina PanthersCarolina,304,17.9,1842,108.4,3239,190.5,5081,298.9,404,23.8,1935,113.8,3266,192.1,5201,305.9
5,Chicago BearsChicago,311,18.3,2018,118.7,3207,188.6,5225,307.4,407,23.9,2127,125.1,3257,191.6,5384,316.7
6,Cincinnati BengalsCincinnati,460,27.1,1742,102.5,4403,259.0,6145,361.5,376,22.1,1742,102.5,4222,248.4,5964,350.8
7,Cleveland BrownsCleveland,349,20.5,2471,145.4,3320,195.3,5791,340.6,371,21.8,1857,109.2,3439,202.3,5296,311.5
8,Dallas CowboysDallas,530,31.2,2119,124.6,4800,282.4,6919,407.0,358,21.1,1918,112.8,4049,238.2,5967,351.0
9,Denver BroncosDenver,335,19.7,2025,119.1,3593,211.4,5618,330.5,322,18.9,1892,111.3,3652,214.8,5544,326.1
10,Detroit LionsDetroit,325,19.1,1886,110.9,3598,211.6,5484,322.6,467,27.5,2296,135.1,4160,244.7,6456,379.8
11,Green Bay PackersGreen Bay,450,26.5,1900,111.8,4315,253.8,6215,365.6,371,21.8,1855,109.1,3724,219.1,5579,328.2
12,Houston TexansHouston,280,16.5,1422,83.6,3305,194.4,4727,278.1,452,26.6,2418,142.2,4117,242.2,6535,384.4
13,Indianapolis ColtsIndianapolis,451,26.5,2540,149.4,3361,197.7,5901,347.1,365,21.5,1854,109.1,3980,234.1,5834,343.2
14,Jacksonville JaguarsJacksonville,253,14.9,1755,103.2,3436,202.1,5191,305.4,457,26.9,2127,125.1,3875,227.9,6002,353.1
15,Kansas City ChiefsKansas City,480,28.2,1955,115.0,4791,281.8,6746,396.8,364,21.4,1999,117.6,4273,251.4,6272,368.9
16,Las Vegas RaidersLas Vegas,374,22.0,1617,95.1,4567,268.6,6184,363.8,439,25.8,1943,114.3,3789,222.9,5732,337.2
17,Los Angeles ChargersLA Chargers,474,27.9,1834,107.9,4800,282.4,6634,390.2,459,27.0,2361,138.9,3761,221.2,6122,360.1
18,Los Angeles RamsLA Rams,460,27.1,1683,99.0,4642,273.1,6325,372.1,372,21.9,1754,103.2,4109,241.7,5863,344.9
19,Miami DolphinsMiami,341,20.1,1568,92.2,3651,214.8,5219,307.0,373,21.9,1867,109.8,3871,227.7,5738,337.5
20,Minnesota VikingsMinnesota,425,25.0,1930,113.5,4238,249.3,6168,362.8,426,25.1,2222,130.7,4300,252.9,6522,383.6
21,New England PatriotsNew England,462,27.2,2151,126.5,3857,226.9,6008,353.4,303,17.8,2103,123.7,3181,187.1,5284,310.8
22,New Orleans SaintsNew Orleans,364,21.4,1991,117.1,3186,187.4,5177,304.5,335,19.7,1589,93.5,3821,224.8,5410,318.2
23,New York GiantsNY Giants,258,15.2,1688,99.3,3196,188.0,4884,287.3,416,24.5,2193,129.0,3839,225.8,6032,354.8
24,New York JetsNY Jets,310,18.2,1667,98.1,3541,208.3,5208,306.4,504,29.6,2351,138.3,4409,259.4,6760,397.6
25,Philadelphia EaglesPhiladelphia,444,26.1,2715,159.7,3404,200.2,6119,359.9,385,22.6,1834,107.9,3756,220.9,5590,328.8
26,Pittsburgh SteelersPittsburgh,343,20.2,1583,93.1,3778,222.2,5361,315.4,398,23.4,2483,146.1,3656,215.1,6139,361.1
27,San Francisco 49ersSan Francisco,427,25.1,2166,127.4,4221,248.3,6387,375.7,365,21.5,1760,103.5,3510,206.5,5270,310.0
28,Seattle SeahawksSeattle,395,23.2,2074,122.0,3432,201.9,5506,323.9,366,21.5,1932,113.6,4513,265.5,6445,379.1
29,Tampa Bay BuccaneersTampa Bay,511,30.1,1672,98.4,5229,307.6,6901,405.9,353,20.8,1573,92.5,4062,238.9,5635,331.5
30,Tennessee TitansTennessee,419,24.6,2404,141.4,3418,201.1,5822,342.5,354,20.8,1438,84.6,4169,245.2,5607,329.8
31,Washington Football TeamWashington,335,19.7,2061,121.2,3441,202.4,5502,323.6,434,25.5,1775,104.4,4333,254.9,6108,359.3

### Rename Teams to match merge data

In [42]:
teamnames21 = {'Arizona CardinalsArizona': 'Arizona Cardinals', 'Atlanta FalconsAtlanta': 'Atlanta Falcons', 
             'Baltimore RavensBaltimore': 'Baltimore Ravens', 'Buffalo BillsBuffalo': 'Buffalo Bills',
            'Carolina PanthersCarolina': 'Carolina Panthers', 'Chicago BearsChicago': 'Chicago Bears',
            'Cincinnati BengalsCincinnati': 'Cincinnati Bengals', 'Cleveland BrownsCleveland': 'Cleveland Browns',
            'Dallas CowboysDallas': 'Dallas Cowboys', 'Denver BroncosDenver': 'Denver Broncos', 
             'Detroit LionsDetroit': 'Detroit Lions', 'Green Bay PackersGreen Bay': 'Green Bay Packers',
            'Houston TexansHouston': 'Houston Texans', 'Indianapolis ColtsIndianapolis': 'Indianapolis Colts',
            'Jacksonville JaguarsJacksonville': 'Jacksonville Jaguars', 'Kansas City ChiefsKansas City': 'Kansas City Chiefs',
            'Los Angeles ChargersLA Chargers': 'Los Angeles Chargers', 'Los Angeles RamsLA Rams': 'Los Angeles Rams',
            'Miami DolphinsMiami': 'Miami Dolphins', 'Minnesota VikingsMinnesota': 'Minnesota Vikings', 
            'New England PatriotsNew England': 'New England Patriots', 'New Orleans SaintsNew Orleans': 'New Orleans Saints',
            'New York GiantsNY Giants': 'New York Giants', 'New York JetsNY Jets': 'New York Jets', 
            'Las Vegas RaidersLas Vegas': 'Las Vegas Raiders', 'Philadelphia EaglesPhiladelphia': 'Philadelphia Eagles',
            'Pittsburgh SteelersPittsburgh': 'Pittsburgh Steelers',
            'San Francisco 49ersSan Francisco': 'San Francisco 49ers', 'Seattle SeahawksSeattle': 'Seattle Seahawks', 
            'Tampa Bay BuccaneersTampa Bay': 'Tampa Bay Buccaneers', 'Tennessee TitansTennessee': 'Tennessee Titans',
            'Washington Football TeamWashington': 'Washington Commanders'}
off_def2021['Team'] = off_def2021['Team'].replace(teamnames21)

In [44]:
off_def2021.tail(16)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
16,Las Vegas Raiders,374,22.0,1617,95.1,4567,268.6,6184,363.8,439,25.8,1943,114.3,3789,222.9,5732,337.2
17,Los Angeles Chargers,474,27.9,1834,107.9,4800,282.4,6634,390.2,459,27.0,2361,138.9,3761,221.2,6122,360.1
18,Los Angeles Rams,460,27.1,1683,99.0,4642,273.1,6325,372.1,372,21.9,1754,103.2,4109,241.7,5863,344.9
19,Miami Dolphins,341,20.1,1568,92.2,3651,214.8,5219,307.0,373,21.9,1867,109.8,3871,227.7,5738,337.5
20,Minnesota Vikings,425,25.0,1930,113.5,4238,249.3,6168,362.8,426,25.1,2222,130.7,4300,252.9,6522,383.6
21,New England Patriots,462,27.2,2151,126.5,3857,226.9,6008,353.4,303,17.8,2103,123.7,3181,187.1,5284,310.8
22,New Orleans Saints,364,21.4,1991,117.1,3186,187.4,5177,304.5,335,19.7,1589,93.5,3821,224.8,5410,318.2
23,New York Giants,258,15.2,1688,99.3,3196,188.0,4884,287.3,416,24.5,2193,129.0,3839,225.8,6032,354.8
24,New York Jets,310,18.2,1667,98.1,3541,208.3,5208,306.4,504,29.6,2351,138.3,4409,259.4,6760,397.6
25,Philadelphia Eagles,444,26.1,2715,159.7,3404,200.2,6119,359.9,385,22.6,1834,107.9,3756,220.9,5590,328.8
26,Pittsburgh Steelers,343,20.2,1583,93.1,3778,222.2,5361,315.4,398,23.4,2483,146.1,3656,215.1,6139,361.1
27,San Francisco 49ers,427,25.1,2166,127.4,4221,248.3,6387,375.7,365,21.5,1760,103.5,3510,206.5,5270,310.0
28,Seattle Seahawks,395,23.2,2074,122.0,3432,201.9,5506,323.9,366,21.5,1932,113.6,4513,265.5,6445,379.1
29,Tampa Bay Buccaneers,511,30.1,1672,98.4,5229,307.6,6901,405.9,353,20.8,1573,92.5,4062,238.9,5635,331.5
30,Tennessee Titans,419,24.6,2404,141.4,3418,201.1,5822,342.5,354,20.8,1438,84.6,4169,245.2,5607,329.8
31,Washington Commanders,335,19.7,2061,121.2,3441,202.4,5502,323.6,434,25.5,1775,104.4,4333,254.9,6108,359.3

### Put Dataset in Team Ascending Order

In [45]:
off_def2021 = off_def2021.sort_values("Team")

In [46]:
off_def2021.tail(16)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
16,Las Vegas Raiders,374,22.0,1617,95.1,4567,268.6,6184,363.8,439,25.8,1943,114.3,3789,222.9,5732,337.2
17,Los Angeles Chargers,474,27.9,1834,107.9,4800,282.4,6634,390.2,459,27.0,2361,138.9,3761,221.2,6122,360.1
18,Los Angeles Rams,460,27.1,1683,99.0,4642,273.1,6325,372.1,372,21.9,1754,103.2,4109,241.7,5863,344.9
19,Miami Dolphins,341,20.1,1568,92.2,3651,214.8,5219,307.0,373,21.9,1867,109.8,3871,227.7,5738,337.5
20,Minnesota Vikings,425,25.0,1930,113.5,4238,249.3,6168,362.8,426,25.1,2222,130.7,4300,252.9,6522,383.6
21,New England Patriots,462,27.2,2151,126.5,3857,226.9,6008,353.4,303,17.8,2103,123.7,3181,187.1,5284,310.8
22,New Orleans Saints,364,21.4,1991,117.1,3186,187.4,5177,304.5,335,19.7,1589,93.5,3821,224.8,5410,318.2
23,New York Giants,258,15.2,1688,99.3,3196,188.0,4884,287.3,416,24.5,2193,129.0,3839,225.8,6032,354.8
24,New York Jets,310,18.2,1667,98.1,3541,208.3,5208,306.4,504,29.6,2351,138.3,4409,259.4,6760,397.6
25,Philadelphia Eagles,444,26.1,2715,159.7,3404,200.2,6119,359.9,385,22.6,1834,107.9,3756,220.9,5590,328.8
26,Pittsburgh Steelers,343,20.2,1583,93.1,3778,222.2,5361,315.4,398,23.4,2483,146.1,3656,215.1,6139,361.1
27,San Francisco 49ers,427,25.1,2166,127.4,4221,248.3,6387,375.7,365,21.5,1760,103.5,3510,206.5,5270,310.0
28,Seattle Seahawks,395,23.2,2074,122.0,3432,201.9,5506,323.9,366,21.5,1932,113.6,4513,265.5,6445,379.1
29,Tampa Bay Buccaneers,511,30.1,1672,98.4,5229,307.6,6901,405.9,353,20.8,1573,92.5,4062,238.9,5635,331.5
30,Tennessee Titans,419,24.6,2404,141.4,3418,201.1,5822,342.5,354,20.8,1438,84.6,4169,245.2,5607,329.8
31,Washington Commanders,335,19.7,2061,121.2,3441,202.4,5502,323.6,434,25.5,1775,104.4,4333,254.9,6108,359.3

### Merge with Win/Loss Data

In [47]:
nfl2021 = pd.merge(off_def2021, wl2021, on="Team")

In [48]:
nfl2021.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Wins,Losses,Tie,Year,Superbowl,SB Win
0,Arizona Cardinals,449,26.4,2076,122.1,4276,251.5,6352,373.6,366,...,3645,214.4,5597,329.2,11,6,0,2021,No,No
1,Atlanta Falcons,313,18.4,1451,85.4,3713,218.4,5164,303.8,459,...,3952,232.5,6194,364.4,7,10,0,2021,No,No
2,Baltimore Ravens,387,22.8,2479,145.8,3961,233.0,6440,378.8,392,...,4742,278.9,6178,363.4,8,9,0,2021,No,No
3,Buffalo Bills,483,28.4,2209,129.9,4284,252.0,6493,381.9,289,...,2771,163.0,4637,272.8,11,6,0,2021,No,No
4,Carolina Panthers,304,17.9,1842,108.4,3239,190.5,5081,298.9,404,...,3266,192.1,5201,305.9,5,12,0,2021,No,No

### Save Dataset to Mac for future use

In [49]:
nfl2021.to_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2021complete.csv')

### Merge 2012-2021 Data

In [50]:
nfl2012_2021 = pd.concat([nfl2012_2020, nfl2021], axis=0, join='outer', ignore_index='True')

In [51]:
nfl2012_2021.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,357,...,3213,200.8,5405,337.8,2012,5,11,0,No,No
1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,299,...,3878,242.4,5849,365.6,2012,13,3,0,No,No
2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,344,...,3650,228.1,5615,350.9,2012,10,6,0,Yes,Yes
3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,435,...,3473,217.1,5806,362.9,2012,6,10,0,No,No
4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,363,...,3568,223.0,5329,333.1,2012,7,9,0,No,No

In [52]:
nfl2012_2021.tail()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
314,San Francisco 49ers,427,25.1,2166,127.4,4221,248.3,6387,375.7,365,...,3510,206.5,5270,310.0,2021,10,7,0,No,No
315,Seattle Seahawks,395,23.2,2074,122.0,3432,201.9,5506,323.9,366,...,4513,265.5,6445,379.1,2021,7,10,0,No,No
316,Tampa Bay Buccaneers,511,30.1,1672,98.4,5229,307.6,6901,405.9,353,...,4062,238.9,5635,331.5,2021,13,4,0,No,No
317,Tennessee Titans,419,24.6,2404,141.4,3418,201.1,5822,342.5,354,...,4169,245.2,5607,329.8,2021,12,5,0,No,No
318,Washington Commanders,335,19.7,2061,121.2,3441,202.4,5502,323.6,434,...,4333,254.9,6108,359.3,2021,7,10,0,No,No

### Save Dataset to Mac for future use

In [53]:
nfl2012_2021.to_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2012_2021merge.csv')